<div class="story-tag-category">
	<div class="section-title"> Scene Story Tags </div>
	{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" canBurn=true taglist=sceneStoryTags}}
</div>
<div class="story-tag-category">
	<div class="section-title"> Crew Story Tags </div>
	{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" canBurn=true taglist=crewStoryTags}}
</div>
<div class="story-tag-category">
	<div class="section-title"> Danger Story Tags </div>
	{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html"  canBurn=true taglist=dangerStoryTags}}
</div>


