.status-block {
  text-align: center;
}

span.status-actor {
  font-weight: bold;
  text-decoration: underline;
}

#city-status-tracker-list ol {
  width: 100%;
}

#city-status-tracker-list li{
  list-style-type: none;
  margin-left: -10%;
}

#city-status-tracker-list .status-control {
  flex: 0;
  margin: 4px;
}

#city-status-tracker-list .status-type {
  flex: 0;
  margin: 0px;
}