<div class="city-move">
	<div class="actor-name"> {{actor.displayedName}} </div>
	<div class="move-name"> {{localize "CityOfMist.moves.downtime.name"}} </div>
	<hr>
	<div class="move-text"> {{{moveText}}} </div>
</div>
