<!--
	takes choosers object with {characters: CityActor[], option: number}
-->
<div class="downtime move">
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=0 choosers=choosers}}
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=1 choosers=choosers}}
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=2 choosers=choosers}}
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=3 choosers=choosers}}
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=4 choosers=choosers}}
	{{> "systems/city-of-mist/templates/chatmessages/downtime-part.hbs" num=5 choosers=choosers}}
	{{#if (not (isGM))}}
	<button class="submit"> select choice</button>
	{{/if}}
</div>
