<form class="Blaze-dialog" autocomplete="off">
	<div class="SHB-warning">
		<div>	{{localize "CityOfMist.dialog.SHB.warning0"}}</div>
		<br>
		<div> {{localize "CityOfMist.dialog.SHB.warning1"}}</div>
	</div>
	<select class="blaze-theme-sacrifice">
			{{selectOptions ACTOR_THEMES localize=false }}
	</select>

</form>

