<form class="{{cssClass}} roll-dialog" autocomplete="off">
	<label class="dialog-label" for="roll-modifier-amt"> Custom Modifier </label>
	<input id="roll-modifier-amt" type="number" value="0">
	<label class="dialog-label" for="dynamite-allowed"> Allow Dynamite </label>
	<input id="roll-dynamite-allowed" type="checkbox">
	<br>
	<label class="dialog-label" for="burn-tag"> Burn Tag </label>
	<select id="roll-burn-tag">
		<option value="" selected> Don't Burn </option>`;
		{{#each burnableTags as |tag|}}
		<option value="{{tag.tagId}}"> {{tag.name}} </option>
		{{/each}}
	</select>
	<hr>
</form>
