<div class="modifier flex-row-center" data-item-id="{{item.item.id}}">
	<div class="review-icon flex-narrow flex-nomargin shrink-icon">
		<!-- JS Generated -->
	</div>
	{{> "systems/city-of-mist/templates/parts/tag-or-status-name.hbs" item=item.item sheetowner=null locked=true}}
</div>

