<form class="{{cssClass}} roll-dialog" autocomplete="off">
	<section class="header">
		<div>
			<span class="dialog-label">Roll Bonus:</span>
			<span class="roll-bonus"></span>
		</div>
		<div>
			<span class="dialog-label"> Effect:</span>
			<span class="move-effect"></span>
		</div>
		<div class="modifier-list">
			{{#each tagAndStatusList as |item|}}
			{{> "systems/city-of-mist/templates/dialogs/roll-modifier.hbs" item=item}}
			{{/each}}
		</div>
		<div class="juice-section">
			{{#each pendingJuice as |juicer|}}
			<div class='juice-pending' data-characterId='{{juicer.id}}'>{{juicer.displayedName}} pending </div>`);
			{{/each}}
		</div>
	</section>
	<hr>
	<label class="dialog-label" for="roll-modifier-amt"> Custom Modifier </label>
	<input id="roll-modifier-amt" type="number" value="0">
	<label class="dialog-label" for="dynamite-allowed"> Allow Dynamite </label>
	<input id="roll-dynamite-allowed" type="checkbox" {{#if dynamite}} checked {{/if}}>
	{{#if altPower}}
	<div class="effect-slider-block">
		<label class="dialog-label" for="effect-slider"> Take Penalty to Increase Effect
		</label>
		<input type="range" min="0" max="4" value="{{sliderVal}}" class="slider" id="effect-slider">
	</div>
	{{/if}}
	<br>
	<label class="dialog-label" for="burn-tag"> Burn Tag </label>
	<select id="roll-burn-tag">
		<option value="" selected> Don't Burn </option>`;
		{{#each burnableTags as |tag|}}
		<option value="{{tag.tagId}}"> {{tag.name}} </option>
		{{/each}}
	</select>
	<hr>
</form>
