<form class="SHB-confirm-dialog" autocomplete="off">
	<div class="SHB-warning">
		<div>	Are you sure you want to Stop.Holding.Back?</div>
		<br>
		<div> The consequences could be DIRE!</div>
	</div>
	<label class="SHB-choice-label" for="name"> Source of your power </label> <br>
	<input class="SHB-selector" type="radio" name="used_stat" value="logosroll" checked> Draw upon Mythic power (Default) </input> <br>
	<input class="SHB-selector" type="radio" name="used_stat" value="mythosroll"> Draw upon Logos power (Optional Rule) </input>
</form>
