<form class="SHB-confirm-dialog" autocomplete="off">
	<div class="SHB-warning">
		<div>	{{localize "CityOfMist.dialog.SHB.warning0"}}</div>
		<br>
		<div> {{localize "CityOfMist.dialog.SHB.warning1"}}</div>
	</div>
	<label class="SHB-choice-label" for="name"> {{localize "CityOfMist.dialog.SHB.source"}} </label> <br>
	{{#if (hasMythos actor)}}
	<input class="SHB-selector" type="radio" name="used_stat" value="logosroll" checked> {{localize "CityOfMist.dialog.SHB.mythicpower" }}</input> <br>
	{{/if}}
	{{#if (hasMist actor)}}
	<input class="SHB-selector" type="radio" name="used_stat" value="mistroll" checked> {{localize "CityOfMist.dialog.SHB.mistPower" }}</input> <br>
	{{/if}}
	<input class="SHB-selector" type="radio" name="used_stat" value="mythosroll"> {{localize "CityOfMist.dialog.SHB.logosPower"}}</input>
</form>
