<form class="{{cssClass}} gmmove-sheet flex-col item-edit-dialog">
  <label class="dialog-label" for="name">
    {{localize "CityOfMist.terms.name"}}
  </label>
  <input type="text" name="name" value="{{item.name}}">
  <div class="flex-row-left align-center">
    <label class="dialog-label" for="name">
      {{localize "CityOfMist.gmmove.hideName"}}
    </label>
    <input type="checkbox" name="system.hideName" {{#if item.system.hideName}} checked {{/if}}>
    <label class="dialog-label" for="name">
      {{localize "CityOfMist.gmmove.header"}}
    </label>
    <select name="system.header">
      {{selectOptions CONST.GM_MOVE_HEADER_TYPES localize=true selected=item.system.header}}
    </select>
  </div>
  <select name="system.subtype">
    {{selectOptions CONST.GM_MOVE_TYPES localize=true selected=item.system.category}}
  </select>
  <hr>
  <label class="dialog-label" for="description">
    {{localize "CityOfMist.terms.description" }}
  </label>
  <textarea class="gmmove-description" title="{{{localize 'CityOfMist.tooltip.gmmove'}}}" name="system.description">{{item.system.description}}</textarea>
</form>
