<form class="{{cssClass}} theme-book-sheet" autocomplete="off" data-owner-id="{{item._id}}" data-sheet-owner-id="{{item._id}}" data-owner-class="item">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}">
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
			<h1 class="localename"><input name="system.locale_name" type="text" value="{{item.system.locale_name}}" placeholder="Displayed Name"/></h1>
		</div>
	</header>
	{{> "systems/city-of-mist/templates/parts/systemComp.hbs" item=item TBSYSTEMLIST=TBSYSTEMLIST}}
	<section id="move-core">
		{{> "systems/city-of-mist/templates/parts/move-display.html" move=item data=data owner=item locked=false sheetowner=item item=item}}
	</section>
</form>
