<form class="{{cssClass}} spectrum-sheet flex-col item-edit-dialog" autocomplete="off">
	<label class="dialog-label" for="name"> {{localize "CityOfMist.terms.name"}} </label>
	<input type="text" name="name" value="{{item.name}}">
	<hr>
	<span>
	<label class="dialog-label" for="name"> {{localize "CityOfMist.terms.maxTier"}} </label>
	<input type="radio" name="system.maxTier" value=1 {{#if (eq 1 item.system.maxTier)}} checked {{/if}} > 1 </input>
	<input type="radio" name="system.maxTier" value=2 {{#if (eq 2 item.system.maxTier)}} checked {{/if}}  > 2 </input>
	<input type="radio" name="system.maxTier" value=3 {{#if (eq 3 item.system.maxTier)}} checked {{/if}}  > 3 </input>
	<input type="radio" name="system.maxTier" value=4 {{#if (eq 4 item.system.maxTier)}} checked {{/if}}  >4 </input>
	<input type="radio" name="system.maxTier" value=5 {{#if (eq 5 item.system.maxTier)}} checked {{/if}}  >5 </input>
	<input type="radio" name="system.maxTier" value=6 {{#if (eq 6 item.system.maxTier)}} checked {{/if}}  >6 </input>
	<input type="radio" name="system.maxTier" value=999 {{#if (eq 999 item.system.maxTier)}} checked {{/if}}  >- </input>

	</span>
</form>


