<form class="{{cssClass}} tag-sheet flex-col" autocomplete="off" data-owner-id="{{actor._id}}" data-sheet-owner-id="{{actor._id}}" data-owner-class="actor">
	<label>
		{{localize "CityOfMist.terms.name"}}
	</label>
	<input type="text" class="tag-name" name="name" value="{{item.name}}">
	<label>
		{{localize "CityOfMist.terms.clueQuestion"}}
	</label>
	{{#if (not item.system.custom_tag) }}
	<div class="question" > {{item.system.question_letter}} - {{item.system.question}} </div>
	{{else}}
	<input type="text" class="tag-question-entry" name="system.question" value="{{item.system.question}}">
	{{/if}}
	{{#if (eq item.system.subtype "power")}}
	<label for="crispy">
		{{localize "CityOfMist.terms.crispyTag"}}
	</label>
	<input type="checkbox" class="item-checkbox" name="system.crispy" {{#if item.system.crispy}} checked{{/if}}>
	{{/if}}
	{{#if (eq item.system.subtype "power")}}
	<label for="broad">
		{{localize "CityOfMist.terms.broadTag"}}
	</label>
	<input type="checkbox" class="item-checkbox" name="system.broad" {{#if item.system.broad}} checked{{/if}} >
	{{/if}}
	{{#if (eq item.system.subtype "story")}}
	<label for="broad">
		{{localize "CityOfMist.terms.temporaryTag"}} </label>
	<input type="checkbox" class="item-checkbox" name="system.temporary" {{#if item.system.temporary}} checked{{/if}} >
	{{/if}}
	{{#if (eq item.system.subtype "story")}}
	<label for="broad"> {{localize "CityOfMist.terms.permanentStoryTag"}} </label>
	<input type="checkbox" class="item-checkbox" name="system.permanent" {{#if item.system.permanent}} checked{{/if}} >
	{{/if}}
	{{#if (showcasePossible item)}}
	<label for="showcased">
		{{localize "CityOfMist.terms.showcased"}}
	</label>
	<input type="checkbox" class="item-checkbox" name="system.showcased" {{#if item.system.showcased}} checked{{/if}}>
	{{/if}}
	{{#if item.system.createdBy}}
	<div class="creators-list">
		<div> Created By: </div>
		<ul>
			{{#each item.creators as |creator|}}
			<li> {{creator.name}} </li>
			{{/each}}
			</ul>
	</div>
	{{/if}}

	<div class="description-header">{{localize "CityOfMist.terms.description"}}</div>
	<textarea name="system.description">{{item.system.description}}</textarea>
	<label> {{localize "CityOfMist.misc.subtagOf"}}</label>
	<select class="" name="system.parentId" >
		{{#select item.system.parentId}}
		<option value=""> None </option>
		{{#each otherTagList as |tag id|}}
		<option value="{{tag.id}}"> {{tag.name}} </option>
		{{/each}}
		{{/select}}
	</select>
	<hr>
	<section class="extra-questions">
		<div class="examples">
			<div class="title">
				{{localize "CityOfMist.dialog.tag.usageExamples"}}
			</div>
			<ul>
				<li>
					<input type="text" class="usage-example" name="system.example0" value="{{item.system.example0}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.example1" value="{{item.system.example1}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.example2" value="{{item.system.example2}}">
				</li>
			</ul>
		</div>
		<div class="counter-examples">
			<div class="title">
				{{localize "CityOfMist.dialog.tag.counterExamples"}}
			</div>
			<ul>
				<li>
					<input type="text" class="usage-example" name="system.counterexample0" value="{{item.system.counterexample0}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.counterexample1" value="{{item.system.counterexample1}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.counterexample2" value="{{item.system.counterexample2}}">
				</li>
			</ul>
		</div>
		<div class="restrictions">
			<div class="title">
				{{localize "CityOfMist.dialog.tag.restrictions"}}
			</div>
			<ul>
				<li>
					<input type="text" class="usage-example" name="system.restriction0" value="{{item.system.restriction0}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.restriction1" value="{{item.system.restriction1}}">
				</li>
				<li>
					<input type="text" class="usage-example" name="system.restriction2" value="{{item.system.restriction2}}">
				</li>
			</ul>
		</div>
	</section>
</form>

