<form class="{{cssClass}} actor-sheet {{#if (eq data.selectedMoveGroup "SHB")}}stop-holding-back-sheet {{/if}} " autocomplete="off" data-owner-id="{{actor.id}}" data-sheet-owner-id="{{actor.id}}" data-owner-class="actor">
	<section id="basic-info" class="">
		<div class="flex-row">
			<img class="profile-img flex-none" src="{{actor.img}}" {{#if (eq data.locked false)}} data-edit="img" {{/if}} title="{{actor.name}}"/>
			<div class="flex-col flex-wide bio">
				<div class="name">
					{{#if data.locked}}
					<span class="character-name">{{actor.name}}</span>
					{{else}}
					<input type="text" class="character-name" name="name" value="{{actor.name}}">
					{{/if}}
				</div>
				<hr>
				<div class="mythos-logos">
					{{#if data.locked}}
					<span class="character-mythos">{{data.mythos}}</span>
					<span class="character-logos">&bull; {{data.logos}}</span>
					{{else}}
					<input type="text" class="character-mythos" name="data.mythos" value="{{data.mythos}}">
					<span>&bull;</span>
					<input type="text" class="character-mythos" name="data.logos" value="{{data.logos}}">
					{{/if}}
				</div>
				<hr>
				<div class="desc">
					{{#if data.locked}}
					<span class="character-desc">{{data.shortDescription}}</span>
					{{else}}
					<input type="text" class="character-desc" name="data.shortDescription" value="{{data.shortDescription}}">
					{{/if}}
				</div>
				<hr>
			</div>
			<a class="sheet-lock-button flex-narrow" title="Toggle Sheet Lock">
				{{#if data.locked}}
				<i class="fas fa-lock"></i>
				{{else}}
				<i class="fas fa-unlock"></i>
				{{/if}}
			</a>
		</div>
	</section>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="themes"> Tags/Themes </a>
		<a class="item" data-tab="juice"> Juice/Help/Hurt </a>
		<a class="item" data-tab="clues"> Clues </a>
		<a class="item" data-tab="build-up"> Moments of Evolution </a>
		<a class="item" data-tab="bio"> Bio </a>
	</nav>
	<section class="sheet-body">
		<div class="tab tab-content theme-section" data-group="primary" data-tab="themes">
			{{#if (not (isGM))}}
			<section id="active-extra-selection">
				<label for="extra-drop-down"> Active Extra Theme </label>
				<select class="active-extra-drop-down" name="active-extra-drop-down" id="active-extra-drop-down">
					<option value="" {{#if (eq data.activeExtraId "")}} selected="selected" {{/if}}>- </option>
					{{#each data.extras as |extra| }}
					<option value="{{extra.id}}" {{#if (eq extra.id ../data.activeExtraId)}} selected="selected" {{/if}}> {{extra.name}}</option>
					{{/each}}
				</select>
			</section>
			{{/if}}
			<div name="Personal Themes">
				<div class="flexrow section-header">
					<h1 id="Theme-header" class="item-block no-border">
						Themes
						{{#if (eq data.locked false)}}
						{{#if (lt data.num_themes 4)}}
						<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
						{{/if}}
						{{/if}}
					</h1>
					<section class="move-section">
						<span class="move-section-header"> Moves </span>
						{{createSelect (getMoveGroups) "data.data.selectedMoveGroup" data.data.selectedMoveGroup "select-move-group"}}
						{{createSelect (getMoveGroup data) "data.data.selectedMove" data.data.selectedMove  "select-move" }}
						<button class="execute-move-button" type="button"> Execute Move </button>
					</section>
				</div>
				<div class="theme-block-group">
					{{#each items as |item|}}
					{{#if (eq item.type "theme")}}
					<div class="flex-theme-block">
						{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor ownerdata=../items theme=item data=item.data.data locked=../data.locked sheetowner=../actor themetype="character" themebook=item.data.data.themebook tbdata=item.data.data.themebook.data.data}}
					</div>
					{{/if}}
					{{/each}}
				</div>
			</div>
			{{#if (gt data.num_themes 2)}}
			<div class="theme-block-group">
				{{#each data.crewThemes as |item |}}
				<!-- Should be max of 1 -->
				<div class="flex-theme-block">
					{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=item.data.data.owner theme=item locked=true sheetowner=../actor themetype="crew" themebook=item.data.data.themebook tbdata=item.data.data.themebook.data.data data=item.data.data}}
				</div>
				{{/each}}
				{{#if data.activeExtra}}
				<div class="flex-theme-block">
					{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=data.activeExtra.data.owner theme=data.activeExtra locked=true sheetowner=actor themetype="extra" items=../items themebook=data.activeExtra.data.data.themebook data=data.activeExtra.data.data tbdata=data.activeExtra.data.data.themebook.data.data}}
				</div>
				{{else }}
				<div class="flex-theme-block">
					<div class="empty-extra-placeholder-text"> No Extra Theme Selected </div>
				</div>
				{{/if}}
				<div class="flex-theme-block" >
					{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=data.locked sheetowner=actor otherStatuses=data.otherStatuses}}
				</div>
				<div class="flex-theme-block" >
					{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor locked=data.locked sheetowner=actor canBurn=true taglist=data.storyTags}}
				</div>
			</div>
			{{/if}}
		</div>
		<div class="tab tab-content juice-tab" data-group="primary" data-tab="juice">
			<section id="juice-section">
				<div class="section-header"> Juice
					<a class="create-juice" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
				{{#each (getJuiceList actor) as |item id|}}
				{{#if (eq item.type "juice")}}
				{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../data.locked sheetowner=../actor juice=item data=item.data.data}}
				{{/if}}
				{{/each}}
				</div>
			</section>
			<section id="help-section">
				<div class="section-header"> Help
					<a class="create-help" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
				{{#each (getHelpList actor) as |item id|}}
				{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../data.locked sheetowner=../actor juice=item data=item.data.data}}
				{{/each}}
				</div>
			</section>
			<section id="hurt-section">
				<div class="section-header"> Hurt
					<a class="create-hurt" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
				{{#each (getHurtList actor) as |item id|}}
				{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../data.locked sheetowner=../actor juice=item data=item.data.data}}
				{{/each}}
				</div>
			</section>
		</div>
		<div class="tab tab-content clues-section" data-group="primary" data-tab="clues">
			<section id="clue-section">
				<div class="section-header"> Clues
					<a class="create-clue" data-item-type="clue" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				{{#each items as |item id|}}
				{{#if (eq item.type "clue")}}
				{{> "systems/city-of-mist/templates/parts/clue-display.html" owner=../actor locked=../data.locked sheetowner=../actor clue=item data=item.data.data}}
				{{/if}}
				{{/each}}
			</section>
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="build-up">
			<section id="build-up-section">
				<div class="BUPoints">
					<div class="BUPoints-header"> Build-Up Points
					</div>
					{{#each data.buildup as |pt rank|}}
					{{#if (eq pt 1)}}
					<span class="filled-circle tracker-circle"></span>
					{{else}}
					<span class="empty-circle tracker-circle"></span>
					{{/if}}
					{{/each}}
					{{#if (ne data.unspentBU 0)}}
					({{data.unspentBU}})
					{{/if}}
					{{#if (eq data.locked false)}}
					<a class="increment-buildup"  data-type="buildup" > <i class="fas fa-plus-square"></i></a>
					<a class="decrement-buildup"  data-type="buildup" > <i class="fas fa-minus-square"></i></a>
					{{/if}}
				</div>
				<div class="BU-improvement-header"> Moments of Evolution
					{{#if (gt data.unspentBU 0)}}
					<a class="add-buildup-improvement" data-type="buildup"> <i class="fas fa-plus-square"></i></a>
					{{/if}}
				</div>
				<ul class="evolutions-list">
					{{#each items as |item id|}}
					{{#if (eq item.type "improvement")}}
					{{#if (eq item.data.data.theme_id "")}}
					<li class="evolution-list-item">
						{{> "systems/city-of-mist/templates/parts/improvement-display.html" improvement=item owner=../actor locked=../data.locked sheetowner=../actor data=item.data.data}}
					</li>
					{{/if}}
					{{/if}}
					{{/each}}
				</ul>
			</section>
		</div>
		<div class="tab tab-content flexcol space-between bio-section" data-group="primary" data-tab="bio">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=data.locked sheetowner=actor owner=isOwner}}
		</div>
	</section>
</form>
