<form class="{{cssClass}} actor-sheet flex-col {{#if actor.system.locked}} locked item-selection-context {{else}} unlocked item-edit-context {{/if}} " autocomplete="off" data-owner-id="{{actor.id}}" data-sheet-owner-id="{{actor.id}}" data-owner-class="actor" data-token-id="{{actor.tokenId}}" data-scene-id="{{actor.sceneId}}">
	<header id="basic-info" class="sheet-header">
		<div class="image-block">
			<img class="profile-img" src="{{actor.img}}" {{#if (eq actor.system.locked false)}} data-edit="img" {{/if}} title="{{actor.name}}" />
		</div>
		<div class="character-basic-info">
			{{> "systems/city-of-mist/templates/parts/character-sheet-header.html" locked=actor.system.locked sheetowner=actor data=data actor=actor}}
		</div>
		<div class="lock-button">
			{{> "systems/city-of-mist/templates/parts/lock-button.html" data=data actor=actor}}
		</div>
	</header>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="themes">
			{{localize 'CityOfMist.terms.tags' }} / {{localize 'CityOfMist.terms.themes' }}
		</a>
		<a class="item" data-tab="juice">
			{{localize 'CityOfMist.terms.juice' }} /
			{{localize 'CityOfMist.terms.help' }} /
			{{localize 'CityOfMist.terms.hurt' }}
		</a>
		<a class="item" data-tab="clues">
			{{localize 'CityOfMist.terms.clues' }}
		</a>
		<a class="item" data-tab="build-up">
			{{localize 'CityOfMist.terms.MoEs' }}
		</a>
		<a class="item" data-tab="bio">
			{{localize 'CityOfMist.terms.bio' }}
		</a>
	</nav>
	<section class="sheet-body {{#if actor.system.locked}} locked item-selection-context {{else}} unlocked item-edit-context {{/if}} ">
		<div class="tab tab-content theme-section" data-group="primary" data-tab="themes">
			{{#if (not (isGM))}}
			<section id="active-extra-selection">
				<label for="extra-drop-down"> {{localize 'CityOfMist.terms.activeExtraTheme' }} </label>
				<select class="active-extra-drop-down" name="active-extra-drop-down" id="active-extra-drop-down">
					<option value="" {{#if (eq actor.system.activeExtraId "")}} selected="selected" {{/if}}>- </option>
					{{#each extras as |extra| }}
					<option value="{{extra.id}}" {{#if (eq extra.id ../actor.system.activeExtraId)}} selected="selected" {{/if}}> {{extra.name}}</option>
					{{/each}}
				</select>
			</section>
			{{/if}}
			<div name="Personal Themes">
				<div class="flexrow section-header">
					<h1 id="Theme-header" class="item-block no-border">
						{{#if (eq actor.system.locked false)}}
						{{#if (lt actor.system.num_themes 4)}}
						<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor.id}}> {{localize 'CityOfMist.command.addTheme' }} <i class="fas fa-plus-square"></i></a>
						{{/if}}
						{{/if}}
					</h1>
					<section class="move-section">
						<span class="move-section-header"></span>
						<select class="select-move-group" name="system.selectedMoveGroup">
							{{selectOptions MOVEGROUPS localize=true selected=actor.system.selectedMoveGroup}}
						</select>
						<select class="select-move" name="system.selectedMove">
							{{selectOptions MOVEGROUP localize=true selected=actor.system.selectedMove}}
						</select>
						<button class="execute-move-button" type="button"> {{localize 'CityOfMist.command.executeMove' }}
						</button>
					</section>
				</div>
				<div class="theme-block-group">
					{{#each actor.mainThemes as |item|}}
					<div class="flip-card flex-theme-block-flip">
						{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor ownerdata=../items theme=item data=item.system locked=../actor.system.locked sheetowner=../actor themetype="character" themebook=item.themebook tbdata=item.themebook.system}}
					</div>
					{{/each}}
				</div>
			</div>
			{{#if (gt actor.system.num_themes 2)}}
			<div class="theme-block-group">
				{{#each crewThemes as |item |}}
				<!-- Should be max of 1 -->
				<div class="flip-card flex-theme-block-flip" >
					{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=item.parent theme=item locked=true sheetowner=../actor themetype="crew" themebook=item.themebook tbdata=item.themebook.system data=item.system}}
				</div>
				{{/each}}
				{{#if activeExtra}}
				<div class="flip-card flex-theme-block-flip">
					{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=activeExtra.parent theme=activeExtra locked=true sheetowner=actor themetype="extra" items=activeExtra.parent.items themebook=activeExtra.themebook data=activeExtra.system tbdata=activeExtra.themebook.system}}
				</div>
				{{else }}
				<div class="flex-theme-block empty-box">
					<div class="empty-extra-placeholder-text">
						{{localize "CityOfMist.message.noExtraSelected"}}
					</div>
				</div>
				{{/if}}
				<div class="flip-card flex-theme-block-flip" >
					{{#if (loadoutThemeEnabled)}}
					{{> "systems/city-of-mist/templates/parts/loadout-theme.hbs" actor=actor theme=actor.loadout}}
				{{else}}
				{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=actor.system.locked sheetowner=actor otherStatuses=otherStatuses}}
				{{/if}}
			</div>
			<div class="flex-theme-block story-tag-box" >
				<div class="story-tags" >
					{{> "systems/city-of-mist/templates/parts/story-tag-header.html" owner=actor locked=actor.system.locked sheetowner=actor}}
					<div class="story-tag-category">
						<div class="section-title"> My Story Tags </div>
						{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" owner=actor locked=actor.system.locked sheetowner=actor canBurn=true taglist=actor.my_story_tags}}
					</div>
					<div class="story-tag-category">
						<div class="section-title"> Scene Story Tags </div>
						{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" owner=actor locked=actor.system.locked sheetowner=actor canBurn=true taglist=sceneStoryTags}}
					</div>
					<div class="story-tag-category">
						<div class="section-title"> Crew Story Tags </div>
						{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" owner=actor locked=actor.system.locked sheetowner=actor canBurn=true taglist=crewStoryTags}}
					</div>
					<div class="story-tag-category">
						<div class="section-title"> Danger Story Tags </div>
						{{> "systems/city-of-mist/templates/parts/story-tag-list-display.html" owner=actor locked=actor.system.locked sheetowner=actor canBurn=true taglist=dangerStoryTags}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}
		</div>
		<div class="tab tab-content juice-tab" data-group="primary" data-tab="juice">
			<section id="juice-section">
				<div class="section-header">
					{{localize "ITEM.TypeJuice"}}
					<a class="create-juice" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
					{{#each (getJuiceList actor) as |item id|}}
					{{#if (eq item.type "juice")}}
					{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../actor.system.locked sheetowner=../actor juice=item data=item.system}}
					{{/if}}
					{{/each}}
				</div>
			</section>
			<section id="help-section">
				<div class="section-header">
					{{localize "CityOfMist.terms.help"}}
					<a class="create-help" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
					{{#each (getHelpList actor) as |item id|}}
					{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../actor.system.locked sheetowner=../actor juice=item data=item.system}}
					{{/each}}
				</div>
			</section>
			<section id="hurt-section">
				<div class="section-header">
					{{localize "CityOfMist.terms.hurt"}}
					<a class="create-hurt" data-item-type="juice" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				<div class="flex-row-left">
					{{#each (getHurtList actor) as |item id|}}
					{{> "systems/city-of-mist/templates/parts/juice-display.html" owner=../actor locked=../actor.system.locked sheetowner=../actor juice=item data=item.system}}
					{{/each}}
				</div>
			</section>
		</div>
		<div class="tab tab-content clues-section" data-group="primary" data-tab="clues">
			<section id="clue-section">
				<div class="section-header">
					{{localize "CityOfMist.terms.clues"}}
					<a class="create-clue" data-item-type="clue" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
				</div>
				{{#each items as |item id|}}
				{{#if (eq item.type "clue")}}
				{{> "systems/city-of-mist/templates/parts/clue-display.html" owner=../actor locked=../actor.system.locked sheetowner=../actor clue=item data=item.system}}
				{{/if}}
				{{/each}}
				<hr>
				{{#each actor.clueJournal as |journal|}}
				{{> "systems/city-of-mist/templates/parts/clue-journal-display.html" owner=../actor locked=../actor.system.locked sheetowner=../actor clue=journal data=journal.system}}
				{{/each}}
			</section>
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="build-up">
			<section id="build-up-section">
				<div class="BUPoints">
					<div class="BUPoints-header">
						{{localize "CityOfMist.terms.bu_points"}}
					</div>
					{{#each actor.system.buildup as |pt rank|}}
					{{#if (eq pt 1)}}
					<span class="filled-circle tracker-circle"></span>
					{{else}}
					<span class="empty-circle tracker-circle"></span>
					{{/if}}
					{{/each}}
					{{#if (ne actor.system.unspentBU 0)}}
					({{actor.system.unspentBU}})
					{{/if}}
					{{#if (eq actor.system.locked false)}}
					<a class="increment-buildup"  data-type="buildup" > <i class="fas fa-plus-square"></i></a>
					<a class="decrement-buildup"  data-type="buildup" > <i class="fas fa-minus-square"></i></a>
					{{/if}}
				</div>
				<div class="section-header">
					{{localize "CityOfMist.terms.MoEs"}}
					{{#if (gt actor.system.unspentBU 0)}}
					<a class="add-buildup-improvement" data-type="buildup"> <i class="fas fa-plus-square"></i></a>
					{{/if}}
				</div>
				<ul class="evolutions-list">
					{{#each items as |item id|}}
					{{#if (eq item.type "improvement")}}
					{{#if (eq item.system.theme_id "")}}
					<li class="evolution-list-item">
						{{> "systems/city-of-mist/templates/parts/improvement-display.html" improvement=item owner=../actor locked=../actor.system.locked sheetowner=../actor data=item.system}}
					</li>
					{{/if}}
					{{/if}}
					{{/each}}
				</ul>
			</section>
		</div>
		<div class="tab tab-content flexcol space-between bio-section" data-group="primary" data-tab="bio">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=actor.system.locked sheetowner=actor owner=isOwner}}
		</div>
	</section>
</form>
