<form class="{{cssClass}} crew-sheet" autocomplete="off" data-owner-id="{{actor.id}}" data-sheet-owner-id="{{actor.id}}" >
	<header id="basic-info" class="sheet-header">
		<div class="image-block">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		</div>
	<div class="character-basic-info">
		<div id="name">
			<label for="crew-name">Name</label>
			<input type="text" id="crew-name" name="name" value="{{actor.name}}">
		</div>
	</div>
	<div class="lock-button">
	{{> "systems/city-of-mist/templates/parts/lock-button.html" data=data actor=actor}}
	</div>
	</header>
	<section id="theme-section" class="theme-section">
		<h1 id="Theme Header" class="flex-horizontal item-block">
			<p>Themes
			{{#if (eq data.locked false)}}
			{{#if (lt data.num_themes 3)}}
			<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
			{{/if}}
			{{/if}}
			</p>
		</h1>
		<div class="theme-block-group">
			{{#each actor.items as |item|}}
			{{#if (eq item.type "theme")}}
			<div class="flex-theme-block">
				{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor theme=item locked=../data.locked sheetowner=../actor themetype="crew" data=item.data.data themebook=item.data.data.themebook tbdata=item.data.data.themebook.data.data}}
			</div>
			{{/if}}
			{{/each}}
		</div>
	</section>
</form>
