<form class="{{cssClass}} extra-sheet flex-col" autocomplete="off" data-owner-id="{{actor._id}}" data-sheet-owner-id="{{actor._id}}" data-owner-class="actor">

	<section id="basic-info" class="flex-horizontal">
		<div class="grow-two">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
			<div id="name">
				<label for="extra-name">Name</label>
				<a class="sheet-lock-button" title="Delete Theme">
					{{#if actor.data.locked}}
					<i class="fas fa-lock"></i>
					{{else}}
					<i class="fas fa-unlock"></i>
					{{/if}}
				</a>
				<input type="text" id="extra-name" name="name" value="{{actor.name}}">
				<label for="alias"> Alias / Token Name</label>
				<input class="alias-input" type="text" name="actor.token.name" value="{{actor.token.name}}">
			</div>
		</div>
	</section>
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item" data-tab="themes"> Tags/Themes </a>
		<a class="item" data-tab="status"> Status </a>
		<a class="item" data-tab="bio"> Bio </a>
	</nav>
	<section class="sheet-body">
		<div class="tab tab-content" data-group="primary" data-tab="themes">
			<section id="theme-section" class="theme-section">
				<h1 id="Theme Header" class="item-block section-header">
					<p>Themes
					{{#if (eq actor.data.locked false)}}
					{{#if (lt actor.data.num_themes 1)}}
					<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor._id}}> <i class="fas fa-plus-square"></i></a>
					{{/if}}
					{{/if}}
					</p>
				</h1>
				<div class="theme-block-group">
					{{#each actor.items as |item id|}}
					{{#if (eq item.type "theme")}}
					<div class="flex-theme-block">
						{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor theme=item locked=../actor.data.locked sheetowner=../actor themetype="extra"}}
					</div>
					{{/if}}
					{{/each}}
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=actor.data.locked sheetowner=actor}}
					</div>
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor locked=false sheetowner=actor canBurn=true}}
					</div>
				</div>
			</section>
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="status">
			<div class="section-header"> Status
				<a class="create-status" data-item-type="status" data-duplicates="false" data-actor-id={{actor._id}}> <i class="fas fa-plus-square"></i></a>
			</div>
			{{#each actor.items as |item id|}}
			{{#if (eq item.type "status")}}
			<section class="card-style player-card">
				{{> "systems/city-of-mist/templates/parts/status-display.html" owner=../actor locked=../data.locked sheetowner=../actor status=item}}
			</section>
			{{/if}}
			{{/each}}
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="bio">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=data.locked sheetowner=actor owner=actor}}
		</div>
	</section>
</form>
