<form class="{{cssClass}} threat-sheet" autocomplete="off" data-owner-id="{{actor.id}}" data-owner-class="actor" data-sheet-owner-id="{{actor.id}}" data-owner-class="actor">
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}">
		<div class="charname-limited"> {{displayAlias actor}} </div>
	</header>
	<hr>
	<div class="flexcol bio-section">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=true sheetowner=false owner=false lockout=true}}
	</div>

</form>

