<div class="character-name log">
{{actor.displayedName}}
</div>
<span class="log action">
	{{action}}
</span>
<span class="log object">
	{{object_part}}
</span>
<span class= "log after-message">
	{{after_message}}
</span>

