<form class="{{cssClass}} threat-sheet flexcol" autocomplete="off" data-owner-id="{{actor.id}}" data-owner-class="actor" data-sheet-owner-id="{{actor.id}}" data-owner-class="actor">
	<header class="sheet-header">
			<div class="image-block">
				<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
			</div>
			<div class="character-basic-info">
				{{> "systems/city-of-mist/templates/parts/threat-sheet-header.html" locked=data.locked sheetowner=actor data=data actor=actor items=items}}
			</div>
			<div class="lock-button">
				{{> "systems/city-of-mist/templates/parts/lock-button.html" data=data actor=actor}}
			</div>
		</div>
	</header>
	{{#if (not data.locked)}}
	<section class="threat-spectrums">
		<div class="spectrum-section-label"> Spectrums
			{{#if (not data.locked)}}
			<a class="create-spectrum" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
			{{/if}}
			<div class="spectrum-list">
				{{#each items as |spectrum id|}}
				{{#if (eq spectrum.type "spectrum")}}
				{{> "systems/city-of-mist/templates/parts/spectrum-display.html" spectrum=spectrum owner=../actor locked=../data.locked sheetowner=actor data=spectrum.data.data }}
				{{/if}}
				{{/each}}
			</div>
	</section>
	{{/if}}
	<nav class="sheet-tabs tabs" data-group="primary">
		{{#if ( isGM )}}
		<a class="item" data-tab="moves"> Moves / Tags </a>
		{{/if}}
		<a class="item" data-tab="themes"> Themes </a>
		<a class="item" data-tab="bio"> Bio </a>
	</nav>
	<section class="sheet-body">
		<div class="tab tab-content" data-group="primary" data-tab="moves">
			<div class="flex-row">
				<div class="flex-overview-block">
					{{> "systems/city-of-mist/templates/parts/gmmoves-section.html" owner=actor locked=data.locked sheetowner=actor}}
				</div>
				<div class="flex-column">
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor items=items locked=false sheetowner=actor canBurn=true taglist=data.storyTags}}
					</div>
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=data.locked sheetowner=actor}}
					</div>
				</div>
			</div>
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="bio">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=data.locked sheetowner=actor owner=owner}}
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="themes">
			<section id="theme-section" class="theme-section">
				<div id="Theme Header" class="item-block section-header">
					<div class="theme-header">Themes
					{{#if (eq data.locked false)}}
					{{#if (lt data.num_themes 1)}}
					<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
					{{/if}}
					{{/if}}
					</div>
				</div>
				<div class="theme-block-group">
					{{#each actor.items as |item id|}}
					{{#if (eq item.type "theme")}}
					<div class="flex-theme-block">
						{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor theme=item locked=../data.locked sheetowner=../actor themetype="character" data=item.data.data themebook=item.data.data.themebook tbdata=item.data.data.themebook.data.data}}
					</div>
					{{/if}}
					{{/each}}
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=data.locked sheetowner=actor}}
					</div>
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor locked=false sheetowner=actor canBurn=true taglist=data.storyTags}}
					</div>
				</div>
			</section>
		</div>
	</section>

</form>

