<form class="{{cssClass}} threat-sheet" autocomplete="off" data-owner-id="{{actor.id}}" data-owner-class="actor" data-sheet-owner-id="{{actor.id}}" data-owner-class="actor">
	<section id="basic-info" class="">
		<div class="flex-row">
			<img class="profile-img flex-none" src="{{actor.img}}" {{#if (eq data.locked false)}} data-edit="img" {{/if}} title="{{actor.name}}"/>
			<div class="flex-col flex-wide bio">
				<div class="name">
					{{#if data.locked}}
					<span class="character-name">{{actor.name}}</span>
					{{else}}
					<input type="text" class="character-name" name="name" value="{{actor.name}}">
					{{/if}}
				</div>
				<hr>
				<div class="desc">
					{{#if data.locked}}
					<span class="character-desc">{{data.shortDescription}}</span>
					{{else}}
					<input type="text" class="character-desc" name="data.shortDescription" value="{{data.shortDescription}}">
					{{/if}}
				</div>
				<hr>
				<div class="spectrum-list">
					<span class="spectrum-label"> Spectrums: </span>

					{{#each items as |spectrum id|}}
					{{#if (eq spectrum.type "spectrum")}}
					{{> "systems/city-of-mist/templates/parts/spectrum-display.html" spectrum=spectrum owner=../actor locked=../data.locked sheetowner=actor data=spectrum.data.data }}
					{{#unless @last}} <span class="spectrum-bullet">&bull;</span> {{/unless}}
					{{/if}}
					{{/each}}

					{{#if (not data.locked)}}
					<a class="create-spectrum" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
					{{/if}}
				</div>
				<hr>
			</div>
			<a class="sheet-lock-button flex-narrow" title="Toggle Sheet Lock">
				{{#if data.locked}}
				<i class="fas fa-lock"></i>
				{{else}}
				<i class="fas fa-unlock"></i>
				{{/if}}
			</a>
		</div>
	</section>
	<nav class="sheet-tabs tabs" data-group="primary">
		{{#if ( isGM )}}
		<a class="item" data-tab="moves"> Moves / Tags </a>
		{{/if}}
		<a class="item" data-tab="themes"> Themes </a>
		<a class="item" data-tab="bio"> Bio </a>
	</nav>
	<section class="sheet-body">
		<div class="tab tab-content" data-group="primary" data-tab="moves">
			<div class="flex-row">
				<div class="flex-overview-block">
					{{> "systems/city-of-mist/templates/parts/gmmoves-section.html" owner=actor locked=data.locked sheetowner=actor}}
				</div>
				<div class="flex-column">
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor items=items locked=false sheetowner=actor canBurn=true taglist=data.storyTags}}
					</div>
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=data.locked sheetowner=actor}}
					</div>
				</div>
			</div>
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="bio">
			{{> "systems/city-of-mist/templates/parts/bio-display.html" actor=actor data=data locked=data.locked sheetowner=actor owner=owner}}
		</div>
		<div class="tab tab-content" data-group="primary" data-tab="themes">
			<section id="theme-section" class="theme-section">
				<h1 id="Theme Header" class="item-block section-header">
					<p>Themes
					{{#if (eq data.locked false)}}
					{{#if (lt data.num_themes 1)}}
					<a class="item-create-theme" data-distinct="true" data-item-type="themebook" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
					{{/if}}
					{{/if}}
					</p>
				</h1>
				<div class="theme-block-group">
					{{#each actor.items as |item id|}}
					{{#if (eq item.type "theme")}}
					<div class="flex-theme-block">
						{{> "systems/city-of-mist/templates/parts/theme-display.html" owner=../actor theme=item locked=../data.locked sheetowner=../actor themetype="character" data=item.data.data themebook=item.data.data.themebook tbdata=item.data.data.themebook.data.data}}
					</div>
					{{/if}}
					{{/each}}
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/status-text-list.html" owner=actor locked=data.locked sheetowner=actor}}
					</div>
					<div class="flex-theme-block" >
						{{> "systems/city-of-mist/templates/parts/story-tag-display.html" owner=actor locked=false sheetowner=actor canBurn=true taglist=data.storyTags}}
					</div>
				</div>
			</section>
		</div>
	</section>

</form>

