<form class="{{cssClass}} clue-sheet flex-col item-edit-dialog">
	<label class="dialog-label" for="name"> Name </label>
	<input type="text" name="name" value="{{item.name}}">
	<label class="dialog-label" for="amount"> Amount </label>
	<input type="number"  name="data.amount" value="{{data.amount}}">
	<label class="dialog-label" for="source"> Source </label>
	<input type="text" name="data.source" value="{{data.source}}">
	<label class="dialog-label" for="method"> Method </label>
	<input type="text" name="data.method" value="{{data.method}}">
	<label class="dialog-label" for="partial"> Partial </label>
	<input id="partial-clue" type="checkbox" name="data.partial" {{#if data.partial}} checked {{/if}}>
	<hr>
</form>


