<form class="{{cssClass}} gmmove-sheet flex-col item-edit-dialog">
	<label class="dialog-label" for="name">
		{{localize "CityOfMist.terms.name"}}
	</label>
	<input type="text" name="name" value="{{item.name}}">
	<div class="flex-row-left align-center">
		<label class="dialog-label" for="name">
			{{localize "CityOfMist.gmmove.hideName"}}
		</label>
		<input type="checkbox" name="system.hideName" {{#if item.system.hideName}} checked {{/if}}>
	</div>
	<select name="system.subtype">
		{{#select item.system.subtype }}
		<option value="soft">
		{{localize "CityOfMist.terms.softMove" }}
		</option>
		<option value="hard">
		{{localize "CityOfMist.terms.hardMove" }}
		</option>
		<option value="custom">
		{{localize "CityOfMist.terms.customMove"}}
		</option>
		<option value="intrusion">
		{{localize "CityOfMist.terms.intrusion" }}
		</option>
		<option value="entrance">
		{{localize "CityOfMist.terms.enterScene" }}
		</option>
		<option value="downtime">
		{{localize "CityOfMist.terms.downtimeTrigger" }}
		</option>
		{{/select}}
	</select>
	<hr>
	<label class="dialog-label" for="description">
		{{localize "CityOfMist.terms.description" }}
	</label>
	<textarea class="gmmove-description" title="{{{localize 'CityOfMist.tooltip.gmmove'}}}" name="system.description">{{item.system.description}}</textarea>
</form>
