<form class="{{cssClass}} spectrum-sheet flex-col item-edit-dialog" autocomplete="off">
	<label class="dialog-label" for="name"> {{localize "CityOfMist.terms.name"}} </label>
	<input type="text" name="name" value="{{item.name}}">
	<hr>
	<span>
	<label class="dialog-label" for="name"> {{localize "CityOfMist.terms.maxTier"}} </label>
	<input type="radio" name="system.max_tier" value="1" {{#if (eq "1" item.system.max_tier)}} checked {{/if}} > 1 </input>
	<input type="radio" name="system.max_tier" value="2" {{#if (eq "2" item.system.max_tier)}} checked {{/if}}  > 2 </input>
	<input type="radio" name="system.max_tier" value="3" {{#if (eq "3" item.system.max_tier)}} checked {{/if}}  > 3 </input>
	<input type="radio" name="system.max_tier" value="4" {{#if (eq "4" item.system.max_tier)}} checked {{/if}}  >4 </input>
	<input type="radio" name="system.max_tier" value="5" {{#if (eq "5" item.system.max_tier)}} checked {{/if}}  >5 </input>
	<input type="radio" name="system.max_tier" value="6" {{#if (eq "6" item.system.max_tier)}} checked {{/if}}  >6 </input>
	<input type="radio" name="system.max_tier" value="-" {{#if (eq "-" item.system.max_tier)}} checked {{/if}}  >- </input>
	</span>
</form>


