<form class="{{cssClass}} status-sheet flex-col item-edit-dialog" autocomplete="off">
	<label class="dialog-label" for="name"> Name </label>
	<input class="status-name-input" type="text" name="name" value="{{item.name}}">
	<label class="dialog-label" for="tier"> Tier </label>
	<input id="status-tier" type="number" name="data.tier" value="{{data.tier}}">
	<label class="dialog-label" for="pips"> Pips </label>
	<input id="status-pips" type="number" name="data.pips" value="{{data.pips}}">
	<HR>
</form>

