<button class="create-story-tag">
	<i class="fas fa-plus"></i><i class="fas fa-tag"></i>
</button>
<button class="create-status">
	<i class="fas fa-plus"></i> {{localize "CityOfMist.terms.status"}}
</button>
{{#if options.createdItems}}
<hr>
<ul>
	{{#each options.createdItems as |created i|}}
	<li data-created-index="{{i}}">
		{{generateCreatedRollItem ../options created}}
		<a class="item-control delete-created-item" title="Delete Status/Tag"><i class="fas fa-trash"></i></a>
	</li>
	{{/each}}
</ul>
{{/if}}
