{{#if (devMode)}}
<div>
	<label>
		{{localize "Generic.terms.compatibleWith"}}
	</label>
	{{#if (or (not item.system.system_compatiblity)(recordContains TBSYSTEMLIST item.system.system_compatiblity))}}
	<select name="system.system_compatiblity">
		{{selectOptions TBSYSTEMLIST localize=true selected=item.system.system_compatiblity}}
	</select>
	{{else}}
	<b>{{item.system.system_compatbility}}</b>
	{{/if}}
</div>
{{/if}}
