:root {
  --mythos-pink: #502c5d;
  --mythos-bright: #ae4ace;
  --mythos-text: hsl(284deg 15% 15%);
  --mythos-white: hsl(265deg 10% 95%);
  --logos-text: #48382a;
  --darkgreen: #373d32;
  --green:#5f624f;
  --logos-orange: #a85d4b;
  --neon-pink: #f82973;
}

/* pt-serif-regular - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/pt-serif-v12-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-serif-italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/pt-serif-v12-latin-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-serif-700 - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/pt-serif-v12-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* pt-serif-700italic - latin */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/pt-serif-v12-latin-700italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v29-latin-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v29-latin-500.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v29-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v29-latin-500italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v29-latin-700italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v14-latin-regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-700 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v14-latin-700.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/rubik-v14-latin-italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
/* rubik-700italic - latin */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/rubik-v14-latin-700italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* fira-sans-extra-condensed-regular - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-extra-condensed-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-extra-condensed-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/fira-sans-extra-condensed-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-extra-condensed-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-900 - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/fira-sans-extra-condensed-v5-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-extra-condensed-v5-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-900italic - latin */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 900;
  src: local(''),
       url('../fonts/fira-sans-extra-condensed-v5-latin-900italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/fira-sans-extra-condensed-v5-latin-900italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'Rift Bold';
    src: url('../fonts/Rift-Bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Roboto', "Signika", sans-serif;
}

.app {
    color: var(--mythos-white);
}

.window-app .window-content {
    background-image: url(../images/paperbg.png);
    background-size: cover;
    font-family: 'Roboto';
}

h1, h2, h3, h4 {
    margin: 0 0 0.5rem;
    padding: 0;
    font-weight: normal;
    /* color: #f82973; */
}

button {
    margin: 0 1px;
    border: 2px solid #321c3a;
    box-shadow: 0 0 10px rgba(255,0,91,.75),0 0 15px rgba(255,0,91,.75) inset;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    font-family: 'Rift Bold';
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(21 21 21 / 80%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    font-size: 15px;
    color: #3c2145;
    background-color: #502c5dbd;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 10px var(--mythos-pink) inset;
}

button:hover {
    color: #fff;
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

#settings button,
.directory .action-buttons button {
	font-size: 1.2em;
    color: #f82973;
    border: 2px solid #f82974;
    box-shadow: 0 0 10px rgba(255,0,91,.75),0 0 15px rgba(255,0,91,.75) inset;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    font-family: 'Rift Bold';
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(21 21 21 / 80%);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

#settings button:hover,
.directory .action-buttons button:hover {
    color: #fff;
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

form button {
    background: #502c5dbd;
    border: inherit;
}

#navigation .nav-item {
    border: 1px solid var(--neon-pink);
}

#controls .control-tool.toggle {
    background: hsl(28deg 20% 62% / 50%);
    border: 1px solid #934b18;
    color: #2b2b2b;
}

#controls .control-tool.toggle.active, #controls .control-tool.toggle:hover {
    background: rgb(255 150 60 / 50%);
    border: 1px solid #934b18;
    color: #934018;
    box-shadow: 0 0 10px #ff8d8d;
}

#controls .scene-control, #controls .control-tool {
    width: 36px;
    height: 36px;
    box-sizing: content-box;
    font-size: 24px;
    line-height: 36px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px #690025;
    margin: 0 6px 8px 0;
    color: #f82973;
    text-align: center;
    border: 1px solid #f82973;
    border-radius: 0;
    cursor: pointer;
}

#controls .scene-control.active, #controls .control-tool.active, #controls .scene-control:hover, #controls .control-tool:hover {
    color: #d37af3;
    border: 1px solid var(--mythos-pink);
    border-bottom: 1px solid #a829f8;
    box-shadow: 0 0 10px #cf29f8;
}

#navigation #scene-list .scene.view, #navigation #scene-list .scene.context {
    border: 1px solid #9c053c;
    border-bottom: 1px solid #f82973;
    box-shadow: 0 0 10px #f82973;
}

#navigation .nav-item {
    border-radius: 0px;
}

#sidebar-tabs > .item.active {
    color: #f82973;
    border: 1px solid #9c053c;
    border-bottom: none;
    box-shadow: 0 0 10px #f82973;
}

#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid #9c053c;
    box-shadow: 0 0 10px #f82973;
}

.tabs .item.active {
    text-shadow: 0 0 8px #f82973;
}

a:hover {
    text-shadow: 0 0 8px #f82973;
}

select:focus {
    box-shadow: 0 0 5px #ff4700;
    outline: none;
}

#hotbar .macro:hover {
    box-shadow: 0 0 10px #f82973 inset;
}

#pause {
    width: 100%;
    height: 100px;
    display: none;
    font-family: 'Rift Bold';
    font-size: 1.5em;
}

#client-settings section.content .submenu > button {
    font-size: 15px;
    background-color: #502c5dbd;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 10px var(--mythos-pink) inset;
}

#client-settings section.content .submenu > button:hover {
    color: white;
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

#chat-form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-image: url(../images/paperbg.png);
    background-size: 600%;
}

textarea:focus {
    box-shadow: 0 0 6px #f82973;
    outline: none;
}

.dialog .dialog-buttons button {
    font-size: 15px;
    color: #3c2145;
    background-color: #502c5dbd;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 10px var(--mythos-pink) inset;
	border: 1px solid var(--mythos-pink);
}

.dialog .dialog-buttons button.default {
    font-size: 15px;
    background-color: #502c5dbd;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 10px var(--mythos-pink) inset;
	border: 1px solid var(--mythos-pink);
}

.dialog .dialog-buttons button:hover {
    color: white;
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

.dialog .dialog-buttons button.default:hover {
    color: white;
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

.filepicker .current-dir button {
    box-shadow: none;
}

.directory .action-buttons button {
    line-height: 20px;
}

input.question-entry {
	width: 80%;
}
input.mythos-name {
	width: 35%;
}

input.character-name {
	width:35%;
}

input.alias-input {
	width:35%;
}

.question-letter {
	font-weight: bold;
	font-size: larger;
}

input.improvement-name {
	width: 15%;
}

input.improvement-description {
	width: 70%;
	max-width: 70%;
}

input.improvement-uses {
	width: 5%;
}

input.input-small {
	width: 25%;
}

section.theme-section {
}

div.theme-title {
	text-align: center;
}

div.nascent-label {
	font-style: italic;
	font-size: smaller;
}

div.theme-block-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

div.flex-overview-block {
	padding: 5px 10px;
	flex-grow: 1;
	width: 50%;
}

div.flex-theme-block {
    margin: 0.3em;
    width: 240px;
    min-height: 500px;
    max-width: 240px;
    /* border: 0.2em solid grey; */
    border-radius: 1em;
    padding: 0.1em;
	overflow: auto;
}

div.flex-theme-block:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.Mythos-theme {
    height: 100%;
    color: var(--mythos-text);
    border-radius: 1em;
    border-bottom: 1em solid var(--mythos-pink);
    background-image: url(../images/editedmythoscard.png);
    background-color: black;
    background-position: center;
    background-size: 125%;
}

.Mythos-theme .theme-name {
    text-shadow: 0px 0px 10px var(--mythos-bright), 0px 1px 12px var(--mythos-pink);
    color: var(--mythos-white);
}

div.Logos-theme {
	background: linear-gradient(to right, rgba(234, 234, 180 , 0.8), rgba(2223, 223, 140 , 0.8), rgba(234, 234, 180 , 0.8));
	color: var(--logos-text);
	height:100%;
	border-radius: 1em;
	border-bottom: 1em solid var(--logos-orange);
	background-image: url(../images/themecardbg.png);
}

div.Crew-theme, div.Extra-theme {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
	text-color: black;
	color: black;
	height:100%;
}

div.Mist-theme {
	background: linear-gradient(to right, DimGrey, Grey, DimGrey);
	text-color: black;
	color: black;
	height:100%;
}

div.Mythos-theme textarea.themebook-mystery.identity-input {
    color: var(--mythos-text);
}

div.Logos-theme textarea.themebook-mystery.identity-input {
	color: var(--logos-text);}

img.theme-img {
	display: inline-block;
}


div.flex-row-left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

section.card-style {
	/* float: left; */
	margin: 0 10px 10px 0;
	padding: 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	font-size: large;
}

.clue-source, .clue-method {
    font-family: 'PT Serif';
}

.clue-source b, .clue-method b {
    font-weight: bold;
    font-family: 'Rubik';
}

.juice-source, .juice-method {
    font-family: 'PT Serif';
}

.juice-source b, .juice-method b {
    font-weight: bold;
    font-family: 'Rubik';
}


div.non-char-theme-header {
	font-weight: bold;
	font-size: larger;
	text-decoration: underline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	flex:10;
}

.non-char-theme-name:hover {
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.gmmove-type-label {
	display: block;
	font-variant: small-caps;
	text-align: center;
	border-bottom: 1px grey;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

section.card-style:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

span.clue-name:hover {
	text-shadow: 0 0 10px red;
}

#juice-section .section-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-align: center;
}

span.juice-name {
	text-transform: capitalize;
}

span.juice-name:hover {
	text-shadow: 0 0 10px red;
}

.weakness-tag {
	font-style: italic;
}

div.themebook-identity-label {
	font-size: 1.4em;
	font-family: 'Rift Bold';
	font-weight: bold;
    margin-left: 0.3em;
	text-transform: uppercase;
}

div.themebook-mystery-label {
	font-size: 1.4em;
	font-family: 'Rift Bold';
	font-weight: bold;
    margin-left: 0.3em;
	text-transform: uppercase;
}

div.themebook-crew-label {
	font-size: 1.4em;
	font-family: 'Rift Bold';
	font-weight: bold;
    margin-left: 0.3em;
	text-transform: uppercase;
}

div.tag-add-icons {
    font-size: 1.4em;
    font-family: 'Rift Bold';
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0.3em;
}

*.identity-input {
    font-family: 'PT Serif';
    word-break: break-word;
    width: 95%;
    height: auto;
    min-height: 10em;
    display: block;
    text-align: justify;
    font-size: small;
    resize: none;
    margin-bottom: 10px;
    margin-top: -0.4em;
    cursor: text;
    margin-left: 0.3em;
}

textarea.themebook-mystery.identity-input {
    /* color: var(--mythos-white); */
}

h1.no-border {
	border-bottom: 0px;
}

h1#Theme-header {
    flex: auto;
    text-align: center;
    font-size: 2em;
    align-self: center;
    font-weight: bold;
    font-family: 'Fira Sans Extra Condensed';
    margin: 0;
}

div.section-header {
    /* border-bottom: 2px solid green; */
    /* font-size: larger; */
    flex-direction: column-reverse;
}

*.identity-input:disabled{
	background: transparent;
	border: none;
	cursor: default;
}

div.theme-name {
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
	line-height: 1em;
    min-height: 1em;
    font-family: Rift Bold;
    overflow: hidden;
    text-transform: uppercase;
    word-break: break-word;
    height: auto;
	padding: 0.2em 0.2em 0.15em 0.2em;
	/* text-shadow: 0px 2px 7px #ffffffd1; */
}

textarea.theme-name-input {
	width: 90%;
	flex-wrap: wrap;
	min-height: 1rem;
	/* max-height: 4rem; */
	height: 3rem;
	word-wrap:normal;
	resize: none;
}

textarea.theme-name-input:hover:not([disabled]){
	text-shadow: 0 0 10px red;
	cursor: text;
}

div.tag-question {
	font-weight: bold;
	text-decoration: underline;
}

.card-name {
	font-weight: bold;
	font-size: large;
	font-family: 'Fira Sans Extra Condensed';
}

div.other-status-owner-name {
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

section.player-card {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.7), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.7));
	color: black;

}

section.enemy-card {
	background: linear-gradient(to right, rgba(200, 120, 0, 0.7), rgba(255, 160, 0, 0.9), rgba(255, 120, 0, 0.7));
	color: white;
}

section.ally-card {
	background-image: linear-gradient(to right, rgba(0,0,200,0.2), rgba(0,0,255,.4), rgba(0,0,200,0.2));
	color: black;
}

.active-tag.default-negative:hover, .status-name:hover{
	text-shadow: 0 0 10px red;
	font-weight: bold;
}

.active-tag.default-positive:hover{
	text-shadow: 0 0 10px yellow;
	font-weight: bold;
}

span.tag-question-letter {
	display: none;
}

input.tag-name-input {
	display: none;
	width: 50%;
}

#clue-section .section-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-align: center;
}

section.clue-data-block {
	background-image: linear-gradient(to right, rgba(0,0,200,0.2), rgba(0,0,255,.4), rgba(0,0,200,0.2));
}

section.juice-data-block {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.7), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.7));
	color: black;
}


*.tag-edit-button:hover {
	text-shadow: 0 0 10px red;
}

.tags-header {
	/* text-decoration: underline; */
	display: inline-block;
}

.burned-tag {
}

.improvements-header {
    font-size: 1.4em;
    font-family: 'Rift Bold';
    font-weight: bold;
    text-transform: uppercase;
	margin-bottom:0;
    margin-left: 0.3em;
}

.improvement-name:hover {
	text-shadow: 0 0 10px red;
}

.improvement-expended {
	color:red;
}

img.img-flame {
	display: inline-block;
	width: auto;
	height: 1em;
	border: 0;
	margin-left: 5px;
}

.theme-delete {
	 /* margin-left: 10px; */
}

.theme-trash {
	 /* margin-left: 10px; */
}

span.flex-tag-name {
	font-size: smaller;

}

span.selected-tag {
	font-weight: bold;
}

span.tag-symbols {
	min-width: 10%;
	width: 10%;
	max-width: 10%;
}

.flex-trash {
	padding-right: 10px;
    overflow: hidden;
}

.shrink-icon {
	height: 1em !important;
	font-size: 1em !important;
}

.charname-limited {
	font-size: 3em;
}

.flex-narrow {
	margin: auto;
	flex: 1 6 8%;
	min-width: 2%;
	max-width: 10%;
}

.flex-wide {
	margin: auto;
	flex: 3 0 60%;
}

.flex-none {
	margin: auto;
}

.flex-std {
	margin: auto;
	flex: 3 3 30%;
}

.right {
	left-padding: 50px;
	float: right;
}

.unspent-upgrades {
	font-weight: bold;
}


div.att-fade-section {
    padding: 5px;
    display: flex;
    justify-content: center;
}
.attention-block.flex-line {
    margin: 0 0.4em;
	width: 50%;
	padding-top: 0.1em;
}

.fade-block.flex-line {
    margin: 0 0.4em;
	padding-top: 0.1em;
}

div.dots-section {
	overflow: hidden;
}

ul.tag-list {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
}

ul.improvement-list {
    margin: 0;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.flex-line {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: normal;
    overflow: auto;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	overflow: auto;
}

div.fade-block {
}

span.attention-text {
    font-weight: bold;
    font-family: 'Rift Bold';
	font-size: 1.3em;
    text-transform: uppercase;
}

div.dots-section {
}

span.fade-text {
    font-weight: bold;
    font-family: 'Rift Bold';
	font-size: 1.3em;
    text-transform: uppercase;
}

span.filled-circle {
	margin: auto;
	height: 1em;
	width: 1em;
	min-width: 1em;
	border-color: rgba(0, 0, 0,255);
	background-color: rgba(0, 0, 0, 255);
	border-radius: 50%;
	display: inline-block;
}

span.empty-circle {
	margin: auto;
	height: 1em !important;
	width: 1em !important;
	min-width: 1em;
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255,200);
	background-color: rgba(0, 0, 0,0);
	border-radius: 50%;
	display: inline-block;
}

.Logos-theme span.filled-circle {
    border: 2px solid var(--logos-text);
    background-color: rgb(134 108 108);
}

.Logos-theme span.empty-circle {
    border: 2px solid var(--logos-text);
	background-color: rgba(0, 0, 0,0);
}

.Mythos-theme span.filled-circle {
	border:2px solid var(--mythos-text);
	background-color: var(--mythos-bright);
}

.Mythos-theme span.empty-circle {
	border:2px solid var(--mythos-text);
	background-color: rgba(0, 0, 0,0);
}

.dots-section .fa-plus-square,
.dots-section .fa-minus-square,
.dots-section .unspent-upgrades,
.dots-section .fa-undo {
	font-size: 1.2em;
}

.improvement-name-send {
	text-decoration: underline;
	font-weight: bold;
	font-size: larger;
	background-color: green;
	font-family: "Times New Roman", Times, serif;
}

div.improvement-description-send {
	font-family: "Times New Roman", Times, serif;
}

span.tag-name-block {
    font-size: 1.2em;
    /* font-family: 'Fira Sans Extra Condensed'; */
}

span.improvement-name {
    /* font-family: 'Fira Sans Extra Condensed'; */
}

div.themebook-name {
    flex-wrap: wrap;
    word-wrap: normal;
    font-style: italic;
	font-family: Rubik;
    height: auto;
    font-size: 1.2em;
	padding: 0.2em 0em 0.2em 1em;
    margin: 0.2em 0;
    margin-top: 0;
    min-height: 1em;
    /* max-height: 2em; */
    color: white;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
}
.sheet {
    font-family: Roboto;
}

.Mythos-theme div.themebook-name {
	background: var(--mythos-pink);
	color: var(--mythos-white);
}

.Logos-theme div.themebook-name {
	background: var(--logos-orange);
}

.Crew-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Crew-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Extra-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Mist-theme div.themebook-name {
	background: linear-gradient(to right, DimGrey, DarkGrey, DimGrey);
	/* color: black; */
}

.sheet-lock-button {
	float:right;
}

.burn-level-1 {
	color: red;
}

.burn-level-4 {
	font-family: “Open Sans”, sans-serif;
	color: #f5f5f5;
	text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
	font-size: 1em;
}

.burn-level-3 {
	font-family: “Open Sans”, sans-serif;
	color: orange;
	text-shadow: 0px -1px 3px #fff, 0px -1px 8px #FF3, 0px -8px 15px         #F90, 0px -15px 30px #C33;
	font-size: 1em;
}

.burn-level-2 {
	font-family: “Open Sans”, sans-serif;
	color: #DC3535;
	text-shadow: 0px -1px 2px #fff, 0px -1px 5px #FF3, 0px -5px 10px         #F90, 0px -10px 20px #C33;
	font-size: 1em;
}

div.burn-flame-cell {
	left-margin:20px;
}

.green-highlight {
	text-shadow:
	3px 0px 3px green,
	-3px 0px 3px green,
	6px 0px 6px green,
	-6px 0px 6px green;
}

.red-highlight, .negative-selected-tag, .negative-selected-status.status-select-button {
	text-shadow:
	3px 0px 3px red,
	-3px 0px 3px red,
	6px 0px 6px red,
	-6px 0px 6px red;
	color: white;
}

.yellow-highlight, .positive-selected-tag, .positive-selected-status.status-select-button {
	text-shadow:
	-3px 0px 3px yellow,
	3px 0px 3px yellow,
	6px 0px 6px yellow,
	-6px 0px 6px yellow;
}

.members-header {
	border-bottom: 2px solid green;
	font-size: larger;
}

.status-header {
	border-bottom: 2px solid green;
	font-size: larger;
}

span.status-with-pips {
	font-weight: bold;
}

.single-choice-table {
	border: none;
}

div.crew-member-list {
}

div.type-header {
	font-weight: bold;
	text-decoration: underline;
}

div.bio-section {
	justify-content: space-between;
	height: 850px;
}

div.bio-subsection {
	overflow: hidden;
	/* border-top: 4px; */
	/* border-top-color: black; */
	/* border-top-style: solid; */
	margin-top: 5px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

span.story-tag-location {
	font-size:smaller;
}

.flextiny {
	flex-shrink: 10;
}

.flexlarge {
	flex-grow: 10;
}

div.status-line {
	display: flex;
	flex: 10;
	justify-content: space-around;
	align-items: space-around;
	flex-direction: row;
	/* font-size: smaller; */
}

div.bio-header {
	display: flex;
	flex-grow: 1;
	font-size: larger;
	text-decoration: underline;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

div.juice-tab {
	display: flex;
	flex-direction: column;
}

textarea.bio-input {
	min-height: 40em;
	max-height: 40em;
	height: 15em;
}

span.story-tag-header-label {
	/* font-size: larger; */
	/* text-decoration: underline; */
}

input.move-list-input {
	width: 75%;
}

input.move-choiceAmt-input {
	width: 5%;
}

li.move-list-item {
	list-style-type: none;
	/* removes bullets */
}

li.move-list-bullets {
}

*.gmmove-name {
	font-size: larger;
	font-weight:bold;
}

textarea.gmmove-description {
	height: 6em;
}

textarea.gmmove-description:disabled {
	border-style: none;
	border-color: transparent;
	overflow: auto;
}

div.gmmove-description {
	font-style: italic;
}

div.gmmove-edit:hover {
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.gmmove-select:hover {
	cursor:pointer;
}

select.move-selector {
	display: inline-block;
}

div.space-between {
	justify-content: space-between;
}

section.move-section {
    text-align: center;
    flex: inherit;
    max-height: 3.5em;
    flex-basis: 90%;
    margin: 0.2em 0;
}

button.execute-move-button {
    width: 12em;
    display: inline-block;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: large;
    color: white;
    background-color: #502c5dbd;
    padding: 5px 0px;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 10px var(--mythos-pink) inset;
}

button.execute-move-button:hover {
    background: #c5044b;
    box-shadow: 0 0 5px rgba(255,0,91,.75),0 0 10px rgba(0,0,0,.3) inset;
}

div.actor-name {
	font-size: larger;
	text-align: center;
}

div.move-name {
	font-size:larger;
	font-weight: bold;
	color: red;
	text-align: center;
	text-decoration: underline;
}

div.roll-total {
	font-weight: bold;
	text-align: center;
	font-size: larger;
}

div.city-die-tooltip {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.4), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.4));
	color: black;
}

ol.dice-rolls {
	display: flex;
	justify-content: center;
	text-align: center;
}

form.stop-holding-back-sheet  {
	background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.3));
	animation: colorpulse 1.2s infinite;
}

@keyframes colorpulse {
	0% {
		background-color: red;
	}
	50% {
		background-color: Crimson;
	}
	100% {
		background-color: red;
	}
}

div.ghost-text{
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	animation:  ghostshake 0.7s infinite;
}

form.stop-holding-back-sheet div {
	color: transparent;
	text-shadow: 0px 0px 2px #000;
	animation: varied-blur 1.5s infinite;
}

form.stop-holding-back-sheet span {
	color: transparent;
	text-shadow: 0px 0px 2px grey;
	animation: varied-blur 4.5s infinite;
}

@keyframes varied-blur {
	0%{
		text-shadow: 0px 0px 4px grey;
	}
	50% {
		text-shadow: 0px 0px 2px grey;
	}
	100% {
		text-shadow: 0px 0px 4px grey;
	}
}

@keyframes ghostshake{
	0%{
		transform: translate(0,0) skew(0deg) scale(1,1);
	}
	10%{
		transform: translate(2px, 2px) skew(3deg) scale(.99,.99);
	}
	20%{
		transform: translate(-2px, 2px) skew(6deg) scale(1,1);;
	}
	30%{
		transform: translate(2px, -2px) skew(-3deg) scale(1,1);
	}
	40%{
		transform: translate(-2px, -2px) skew(-6deg) scale(.99, 1);
	}
	50%{
		transform: translate(2px, 2px) skew(3deg) scale(1,.99);
	}
	60%{
		transform: translate(-2px, 2px) skew(6deg) scale(.99,.99);
	}
	70%{
		transform: translate(-2px, -2px) skew(0deg) scale(.99,1);
	}
	80%{
		transform: translate(2px, -2px) skew(3deg) scale(.99,.99);
	}
	90%{
		transform: translate(2px, 2px) skew(3deg) scale(1,.99);
	}
	100%{
		transform: translate(0,0) skew(0deg) scale(1,1);;
	}
}

.crew-sheet .tab-content {
	min-height: 850px;
}

.actor-sheet .tab-content {
	min-height: 850px;
}

.threat-sheet .tab-content {
	min-height: 850px;
}

* .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}

* .tooltip:hover .tooltiptext {
  visibility: visible;
}

* .city-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}

.sheet-body {
	min-height: 700px;
	max-height: 900px;
	overflow: auto;
}

div.tox-tinymce {
	min-height: 300px;
}

textarea.narrator-text {
	font-size: 2em;
	height: 750px;
	width: 900px;
}

div.narrated-text {
	color:white;
	font-size:larger;
	font-weight: bold;
	padding: 10px;
	background: linear-gradient(to right, rgba(191,85,236, 0.4), rgba(191,85,236, 0.7), rgba(191,85,236, 0.4));
	text-shadow: 3px 3px 3px black;
	user-select: text;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

span.narrated-story-tag {
	color: black;
	text-shadow:
	3px 0px 3px yellow,
	-3px 0px 3px yellow,
	6px 0px 6px yellow,
	-6px 0px 6px yellow;
}

span.narrated-status-name {
	color: white;
	background: linear-gradient(to right, #F6465B77 0%, #DB1F2ADD 50%, #DB1F2A88 100%);
}

.main-destruction-message {
	font-size:larger;
	text-decoration: underline;
}

.edit-roll {
	display: none;
}

.bio-section-label {
    font-size: 2.3em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
    /* text-decoration: underline; */
    text-align: center;
    /* border-bottom: 4px solid black; */
}

input.number-modifier-box {
	width: 100px;
}

.threat-spectrums {
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}

.spectrum-section-label {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.spectrum {
	font-weight: bold;
	font-size: 1.25em;
	margin: auto;
}

.spectrum-editable:hover {
	cursor:pointer;
	text-shadow: 2px 4px 10px black;
}

.spectrum-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

section#build-up-section {
    text-align: center;
}

.BU-improvement-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
}

.BUPoints {
	text-align: center;
	margin: 3em 0;
}

#build-up-section .tracker-circle {
    min-height: 2em;
    min-width: 2em;
}

.BUPoints .increment-buildup {
    font-size: 2.5em;
}

.BUPoints .decrement-buildup {
    font-size: 2.5em;
}

.BUPoints-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
}

#build-up-section .tracker-circle {
    border: 4px solid var(--mythos-pink);
}

#build-up-section .filled-circle {
    background-color: var(--mythos-pink);
}

.evolutions-list .improvement-block {
    font-size: 1.5em;
}

.evolutions-list {
	font-size: 1.2em;
	font-weight: bold;
	list-style-type: none;

}

.evolution-list-item {
}

.SHB-warning {
	text-color: red;
	text-align: center;
	margin: 1em;
	border: 5px solid red;
	font-size: larger;
	font-weight: bold;
}

.SHB-choice-label {
	text-decoration: underline;
	margin: 2px;
	font-weight:bold;
}

.SHB-confirm-dialog {
	margin: 20px;
}

.status-text-list {
	/* margin: 5px; */
}

.status-owner {
	font-style: italic;
	font-weight: lighter;
	font-size: smaller;
}

.status-text-list-header {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    height: auto;
}

.story-tags-header {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    height: auto;
}

.status-text-list {
	text-align: center;
}

input.character-age {
	width: 30px;
}

input.character-residence {
	width: 75%;
}

.simple-setter {
	font-size: 90px !important;
}

.editor-box {
	height: 275px;
}

.editor {
	height: 100%;
	/* min-height:100%; */
	/* height: 200px; */
}

.gmmove-section {
	background: linear-gradient(to right, rgba(128,128,128, 0.4), rgba(128,128,128, 0.7), rgba(128,128,128, 0.4));
	margin:4px;
}

.move-section-header {
	font-size:1.5em;
}

.empty-extra-placeholder-text {
	margin: auto;
	padding-top: 50%;
	padding-bottom: 50%;
	height: 100%;
	text-align: center;
	align-items:center;
	top: 50%;
	font-weight: bold;
	font-size: larger;
}

faded {
	opacity: 0.25;
}

.hide {
	display:none;
}

.slidecontainer {
	width: 50%; /* Width of the outside container */
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.slidervalue {
	text-align: center;
}

#help-section .section-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-align: center;
}

#hurt-section .section-header {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Rubik';
    text-transform: uppercase;
    text-align: center;
}

.help-selection {

	min-height: 4rem;
}
/* Sheet Restyling */

.sheet .tabs .item.active {
    color: white;
    font-weight: normal;
    text-shadow: none;
    background-color: var(--mythos-pink);
}

.sheet nav.sheet-tabs {
    border-top: 2px solid var(--mythos-pink);
    border-bottom: 2px solid var(--mythos-pink);
    font-family: 'Rubik';
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 1.8em;
}

.sheet a:hover {
    color: var(--neon-pink);
	text-shadow: none;
}

.select-move, 
.select-move-group {
    height: 2.3em;
    font-family: 'Rubik';
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #3c2145;
    box-shadow: 0 0 5px var(--mythos-pink), 0 0 2px var(--mythos-pink) inset;
}

.select-move-group option {
    font-family: 'Rubik';
    font-weight: bold;
}

.select-group option {
    font-family: 'Rubik';
    font-weight: bold;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 10px;
    background: none;
    background-color: whitesmoke;
    border: 1px solid var(--mythos-pink);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 0px;
}

/* Monarch Card CSS */
.monarch-hand {
  --card-height: 200px;
  --card-width: calc(var(--card-height) * .4);
}
.monarch-hand .cards {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 10px 14px 10px 10px;
  margin: 0;
  height: calc(var(--card-height) + 20px);
}
.monarch-hand .card-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    flex-basis: 0;
    max-width: var(--card-width);
    height: var(--card-height);
    transition: flex-basis 0.3s ease-in-out, box-shadow 0.5s;
    box-shadow: -2px 0 6px rgba(0, 0, 0, 0.6);
    border-radius: 1em 0 0 1em;
    margin-right: -1em;
    background: unset;
}
.monarch-hand .card-wrapper:hover, .monarch-hand .card-wrapper:last-child {
  flex-basis: var(--card-width);
  /* border-radius: 4px; */
}
.monarch-hand .card-wrapper:hover {
  z-index: 1;
  box-shadow: 0 0 10px var(--color-shadow-highlight), 0 0 4px var(--color-shadow-primary);
}
.monarch-hand .card-wrapper:hover .tooltip {
  opacity: 1;
}
.monarch-hand .card-wrapper:hover .card-hud {
  opacity: 1;
}
.monarch-hand .card {
  /* temporary until the fix the card images */
  position: relative;
  /* padding: 8px; */
  height: var(--card-height);
  min-width: var(--card-width);
  cursor: pointer;
}

.tabs > * {
    flex: auto;
}