input.question-entry {
	width: 80%;
}
input.mythos-name {
	width: 35%;
}

input.character-name {
	width:35%;
}

input.alias-input {
	width:35%;
}

.question-letter {
	font-weight: bold;
	font-size: larger;
}

input.improvement-name {
	width: 15%;
}

input.improvement-description {
	width: 70%;
	max-width: 70%;
}

input.improvement-uses {
	width: 5%;
}

input.input-small {
	width: 25%;
}

section.theme-section {
}

div.theme-title {
	text-align: center;
}

div.nascent-label {
	font-style: italic;
	font-size: smaller;
}

div.theme-block-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

div.flex-overview-block {
	padding: 5px 10px;
	flex-grow: 1;
	width: 50%;
}

div.flex-theme-block {
	margin: 5px 2px;
	width: 240px;
	/* max-width:25; */
	max-width:240px;
	border: 1px;
	border-style: solid;
}

div.flex-theme-block:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.Mythos-theme {
	background: linear-gradient(to right, rgba(191,85,236, 0.2), rgba(191,85,236, 0.5), rgba(191,85,236, 0.2));
	text-color:black;
	color: black;
	height:100%;
}

div.Logos-theme {
	border: 1px;
	border-style: solid;
	background: linear-gradient(to right, rgba(234, 234, 180 , 0.8), rgba(2223, 223, 140 , 0.8), rgba(234, 234, 180 , 0.8));
	color: black;
	height:100%;
}

div.Crew-theme, div.Extra-theme {
	border: 1px;
	border-style: solid;
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
	text-color: black;
	color: black;
	height:100%;
}

div.Mist-theme {
	border: 1px;
	border-style: solid;
	background: linear-gradient(to right, DimGrey, Grey, DimGrey);
	text-color: black;
	color: black;
	height:100%;
}

img.theme-img {
	display: inline-block;
}


div.flex-row-left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

section.card-style {
	/* float: left; */
	margin: 0 10px 10px 0;
	padding: 10px 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

div.non-char-theme-header {
	font-weight: bold;
	font-size: larger;
	text-decoration: underline;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	flex:10;
}

.non-char-theme-name:hover {
	text-shadow: 0 0 10px red;
	cursor: pointer;
}

.gmmove-type-label {
	display: block;
	font-variant: small-caps;
	text-align: center;
	border-bottom: 1px grey;
	font-weight: bold;
	text-decoration: underline;
	font-size: larger;
}

section.card-style:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

span.clue-name:hover {
	text-shadow: 0 0 10px red;
}

span.juice-name {
	text-transform: capitalize;
}

span.juice-name:hover {
	text-shadow: 0 0 10px red;
}

.weakness-tag {
	font-style: italic;
}

div.themebook-identity-label {
}

div.themebook-mystery-label {
}

div.themebook-crew-label {
}

div.tag-add-icons {
	style: inline-block;
}

*.identity-input {
	id-break: break-word;
	width: 95%;
	height: auto;
	display: block;
	font-size: smaller;
	resize: none;
	cursor: text;
}

h1.no-border {
	border-bottom: 0px;
}

div.section-header {
	border-bottom: 2px solid green;
	font-size: larger;
}

*.identity-input:disabled{
	background: transparent;
	border: none;
	font-style: italic;
	cursor: default;
}

div.theme-name {
	width: 95%;
	font-weight: bold;
	font-size: 140%;
	min-height: 1em;
	max-height: 4em;
	height: auto;
	word-wrap:normal;
	font-style: italic;
}

textarea.theme-name-input {
	width: 90%;
	flex-wrap: wrap;
	min-height: 1rem;
	max-height: 4rem;
	height: 3rem;
	word-wrap:normal;
	resize: none;
}

textarea.theme-name-input:hover:not([disabled]){
	text-shadow: 0 0 10px red;
	cursor: text;
}

div.tag-question {
	font-weight: bold;
	text-decoration: underline;
}

.card-name {
	font-weight: bold;
	font-size: larger;
	text-decoration: underline;
}

div.other-status-owner-name {
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border-bottom: 2px solid black;
	padding-bottom: 1px;
}

section.player-card {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.7), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.7));
	color: black;

}

section.enemy-card {
	background: linear-gradient(to right, rgba(200, 120, 0, 0.7), rgba(255, 160, 0, 0.9), rgba(255, 120, 0, 0.7));
	color: white;
}

section.ally-card {
	background-image: linear-gradient(to right, rgba(0,0,200,0.2), rgba(0,0,255,.4), rgba(0,0,200,0.2));
	color: black;
}

.active-tag.default-negative:hover, .status-name:hover{
	text-shadow: 0 0 10px red;
	font-weight: bold;
}

.active-tag.default-positive:hover{
	text-shadow: 0 0 10px yellow;
	font-weight: bold;
}

span.tag-question-letter {
	display: none;
}

input.tag-name-input {
	display: none;
	width: 50%;
}

section.clue-data-block {
	background-image: linear-gradient(to right, rgba(0,0,200,0.2), rgba(0,0,255,.4), rgba(0,0,200,0.2));
}

section.juice-data-block {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.7), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.7));
	color: black;
}


*.tag-edit-button:hover {
	text-shadow: 0 0 10px red;
}

.tags-header {
	text-decoration: underline;
	display: inline-block;
}

.burned-tag {
}

.improvements-header {
	text-decoration: underline;
}

.improvement-name:hover {
	text-shadow: 0 0 10px red;
}

.improvement-expended {
	color:red;
}

img.img-flame {
	display: inline-block;
	width: auto;
	height: 1em;
	border: 0;
	margin-left: 5px;
}

.theme-delete {
	 margin-left: 10px;
}

.theme-trash {
	 margin-left: 10px;
}

span.flex-tag-name {
	font-size: smaller;

}

span.selected-tag {
	font-weight: bold;
}

span.tag-symbols {
	min-width: 10%;
	width: 10%;
	max-width: 10%;
}

.flex-trash {
	padding-right: 10px;
}

.shrink-icon {
	height: 1em !important;
	font-size: 1em !important;
}

.charname-limited {
	font-size: 3em;
}

.flex-narrow {
	margin: auto;
	flex: 1 6 8%;
	min-width: 2%;
	max-width: 10%;
}

.flex-wide {
	margin: auto;
	flex: 3 0 60%;
}

.flex-none {
	margin: auto;
}

.flex-std {
	margin: auto;
	flex: 3 3 30%;
}

.right {
	left-padding: 50px;
	float: right;
}

.unspent-upgrades {
	font-weight: bold;
}


div.att-fade-section {
	margin-left: 10px;
}

div.dots-section {
}

ul.tag-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.improvement-list {
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.flex-line {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	overflow: auto;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	overflow: auto;
}

div.fade-block {
}

span.attention-text {
	font-weight: bold;
}

div.dots-section {
}

span.fade-text {
	font-weight: bold;
}

span.filled-circle {
	margin: auto;
	height: 1em;
	width: 1em;
	min-width: 1em;
	border-color = rgba(0, 0, 0,255);
	background-color: rgba(0, 0, 0, 255);
	border-radius: 50%;
	display: inline-block;
}

span.empty-circle {
	margin: auto;
	height: 1em !important;
	width: 1em !important;
	min-width: 1em;
	border-style: solid;
	border-width: 2px;
	border-color = rgba(255, 255, 255,200);
	background-color: rgba(0, 0, 0,0);
	border-radius: 50%;
	display: inline-block;
}

div.improvement-name-send {
	text-decoration: underline;
	font-weight: bold;
	font-size: larger;
	background-color: green;
	font-family: "Times New Roman", Times, serif;
}

div.improvement-description-send {
	font-family: "Times New Roman", Times, serif;
}

div.themebook-name {
	text-align: center;
	flex-wrap: wrap;
	word-wrap: normal;
	height: auto;
	min-height: 1em;
	max-height: 2em;
	color: white;
}

.Mythos-theme div.themebook-name {
	background: linear-gradient(to right, rgba(102, 51, 153, 0.4), rgba(102, 51, 153, 0.9), rgba(102, 51, 153, 0.4));
}

.Logos-theme div.themebook-name {
	background: linear-gradient(to right, rgba(255, 140, 0, 0.4), rgba(255, 140, 0, 0.9), rgba(255, 140, 0, 0.4));
}

.Crew-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Crew-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Extra-theme div.themebook-name {
	background: linear-gradient(to right, rgba(20,20,155, 0.2), rgba(0, 0, 255,  0.5), rgba(20,20,155, 0.2));
}

.Mist-theme div.themebook-name {
	background: linear-gradient(to right, DimGrey, DarkGrey, DimGrey);
	/* color: black; */
}

.sheet-lock-button {
	float:right;
}

.burn-level-1 {
	color: red;
}

.burn-level-4 {
	font-family: “Open Sans”, sans-serif;
	color: #f5f5f5;
	text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px         #F90, 0px -20px 40px #C33;
	font-size: 1em;
}

.burn-level-3 {
	font-family: “Open Sans”, sans-serif;
	color: orange;
	text-shadow: 0px -1px 3px #fff, 0px -1px 8px #FF3, 0px -8px 15px         #F90, 0px -15px 30px #C33;
	font-size: 1em;
}

.burn-level-2 {
	font-family: “Open Sans”, sans-serif;
	color: #DC3535;
	text-shadow: 0px -1px 2px #fff, 0px -1px 5px #FF3, 0px -5px 10px         #F90, 0px -10px 20px #C33;
	font-size: 1em;
}

div.burn-flame-cell {
	left-margin:20px;
}

.green-highlight {
	text-shadow:
	3px 0px 3px green,
	-3px 0px 3px green,
	6px 0px 6px green,
	-6px 0px 6px green;
}

.red-highlight, .negative-selected-tag, .negative-selected-status.status-select-button {
	text-shadow:
	3px 0px 3px red,
	-3px 0px 3px red,
	6px 0px 6px red,
	-6px 0px 6px red;
	color: white;
}

.yellow-highlight, .positive-selected-tag, .positive-selected-status.status-select-button {
	text-shadow:
	-3px 0px 3px yellow,
	3px 0px 3px yellow,
	6px 0px 6px yellow,
	-6px 0px 6px yellow;
}

.members-header {
	border-bottom: 2px solid green;
	font-size: larger;
}

.status-header {
	border-bottom: 2px solid green;
	font-size: larger;
}

span.status-with-pips {
	font-weight: bold;
}

.single-choice-table {
	border: none;
}

div.crew-member-list {
}

div.type-header {
	font-weight: bold;
	text-decoration: underline;
}

div.bio-section {
	justify-content: space-between;
	height: 850px;
}

div.bio-subsection {
	overflow: auto;
	border-top: 4px;
	border-top-color: black;
	border-top-style: solid;
	margin-top: 5px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}

span.story-tag-location {
	font-size:smaller;
}

.flextiny {
	flex-shrink: 10;
}

.flexlarge {
	flex-grow: 10;
}

div.status-line {
	display: flex;
	flex: 10;
	justify-content: space-around;
	align-items: space-around;
	flex-direction: row;
	/* font-size: smaller; */
}

div.bio-header {
	display: flex;
	flex-grow: 1;
	font-size: larger;
	text-decoration: underline;
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
}

div.juice-tab {
	display: flex;
	flex-direction: column;
}

textarea.bio-input {
	min-height: 40em;
	max-height: 40em;
	height: 15em;
}

span.story-tag-header-label {
	font-size: larger;
	text-decoration: underline;
}

input.move-list-input {
	width: 75%;
}

input.move-choiceAmt-input {
	width: 5%;
}

li.move-list-item {
	list-style-type: none;
	/* removes bullets */
}

li.move-list-bullets {
}

*.gmmove-name {
	font-size: larger;
	font-weight:bold;
}

textarea.gmmove-description {
	height: 6em;
}

textarea.gmmove-description:disabled {
	border-style: none;
	border-color: transparent;
	overflow: auto;
}

div.gmmove-description {
	font-style: italic;
}

div.gmmove-edit:hover {
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.gmmove-select:hover {
	cursor:pointer;
}

select.move-selector {
	display: inline-block;
}

div.space-between {
	justify-content: space-between;
}

section.move-section {
	flex-grow:4;
	justify-content: right;
	align-items: right;
	text-align: right;
	margin: auto;
	/* clear: both; */
	/* display: inline; */
	/* border-top: 2px solid green; */
}

button.execute-move-button {
	width: 25%;
	display: inline-block;
}

div.actor-name {
	font-size: larger;
	text-align: center;
}

div.move-name {
	font-size:larger;
	font-weight: bold;
	color: red;
	text-align: center;
	text-decoration: underline;
}

div.roll-total {
	font-weight: bold;
	text-align: center;
	font-size: larger;
}

div.city-die-tooltip {
	background: linear-gradient(to right, rgba(255, 198, 153, 0.4), rgba(255, 198, 153, 0.9), rgba(255, 198, 153, 0.4));
	color: black;
}

ol.dice-rolls {
	display: flex;
	justify-content: center;
	text-align: center;
}

form.stop-holding-back-sheet  {
	background: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.3));
	animation: colorpulse 1.2s infinite;
}

@keyframes colorpulse {
	0% {
		background-color: red;
	}
	50% {
		background-color: Crimson;
	}
	100% {
		background-color: red;
	}
}

div.ghost-text{
	transform: translate(-50%, -50%);
	font-size: 2.5em;
	animation:  ghostshake 0.7s infinite;
}

form.stop-holding-back-sheet div {
	color: transparent;
	text-shadow: 0px 0px 2px #000;
	animation: varied-blur 1.5s infinite;
}

form.stop-holding-back-sheet span {
	color: transparent;
	text-shadow: 0px 0px 2px grey;
	animation: varied-blur 4.5s infinite;
}

@keyframes varied-blur {
	0%{
		text-shadow: 0px 0px 4px grey;
	}
	50% {
		text-shadow: 0px 0px 2px grey;
	}
	100% {
		text-shadow: 0px 0px 4px grey;
	}
}

@keyframes ghostshake{
	0%{
		transform: translate(0,0) skew(0deg) scale(1,1);
	}
	10%{
		transform: translate(2px, 2px) skew(3deg) scale(.99,.99);
	}
	20%{
		transform: translate(-2px, 2px) skew(6deg) scale(1,1);;
	}
	30%{
		transform: translate(2px, -2px) skew(-3deg) scale(1,1);
	}
	40%{
		transform: translate(-2px, -2px) skew(-6deg) scale(.99, 1);
	}
	50%{
		transform: translate(2px, 2px) skew(3deg) scale(1,.99);
	}
	60%{
		transform: translate(-2px, 2px) skew(6deg) scale(.99,.99);
	}
	70%{
		transform: translate(-2px, -2px) skew(0deg) scale(.99,1);
	}
	80%{
		transform: translate(2px, -2px) skew(3deg) scale(.99,.99);
	}
	90%{
		transform: translate(2px, 2px) skew(3deg) scale(1,.99);
	}
	100%{
		transform: translate(0,0) skew(0deg) scale(1,1);;
	}
}

.crew-sheet .tab-content {
	min-height: 850px;
}

.actor-sheet .tab-content {
	min-height: 850px;
}

.threat-sheet .tab-content {
	min-height: 850px;
}

* .tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #191813;
  color: #EEEFFF;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 9999;
}

* .tooltip:hover .tooltiptext {
  visibility: visible;
}

* .city-die-tooltip .die {
  font-weight: bold;
  text-transform: capitalize;
  font-size: large;
}

.sheet-body {
	min-height: 700px;
	max-height: 900px;
	overflow: auto;
}

div.tox-tinymce {
	min-height: 300px;
}

textarea.narrator-text {
	font-size: 2em;
	height: 750px;
	width: 900px;
}

div.narrated-text {
	color:white;
	font-size:larger;
	font-weight: bold;
	padding: 10px;
	background: linear-gradient(to right, rgba(191,85,236, 0.4), rgba(191,85,236, 0.7), rgba(191,85,236, 0.4));
	text-shadow: 3px 3px 3px black;
	user-select: text;
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

span.narrated-story-tag {
	color: black;
	text-shadow:
	3px 0px 3px yellow,
	-3px 0px 3px yellow,
	6px 0px 6px yellow,
	-6px 0px 6px yellow;
}

span.narrated-status-name {
	color: white;
	background: linear-gradient(to right, #F6465B77 0%, #DB1F2ADD 50%, #DB1F2A88 100%);
}

.main-destruction-message {
	font-size:larger;
	text-decoration: underline;
}

.edit-roll {
	display: none;
}

.bio-section-label {
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	border-bottom: 4px solid black;
}

input.number-modifier-box {
	width: 100px;
}

.threat-spectrums {
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}

.spectrum-section-label {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

.spectrum {
	font-weight: bold;
	font-size: 1.25em;
	margin: auto;
}

.spectrum-editable:hover {
	cursor:pointer;
	text-shadow: 2px 4px 10px black;
}

.spectrum-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.BU-improvement-header {
	margin: 10px;
	font-size: 2em;
	text-decoration: underline;
}

.BUPoints {
	text-align: center;
}

.evolutions-list {
	font-size: 1.2em;
	font-weight: bold;
}

.evolution-list-item {
}

.SHB-warning {
	text-color: red;
	text-align: center;
	margin: 1em;
	border: 5px solid red;
	font-size: larger;
	font-weight: bold;
}

.SHB-choice-label {
	text-decoration: underline;
	margin: 2px;
	font-weight:bold;
}

.SHB-confirm-dialog {
	margin: 20px;
}

.status-text-list {
	margin: 5px;
}

.status-owner {
	font-style: italic;
	font-weight: lighter;
	font-size: smaller;
}

.status-text-list-header {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 1.5em;
}

.story-tags-header {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: larger;
}

.status-text-list {
	text-align: center;
}

input.character-age {
	width: 30px;
}

input.character-residence {
	width: 75%;
}

.simple-setter {
	font-size: 90px !important;
}

.editor-box {
	height: 275px;
}

.editor {
	height: 100%;
	/* min-height:100%; */
	/* height: 200px; */
}

.gmmove-section {
	background: linear-gradient(to right, rgba(128,128,128, 0.4), rgba(128,128,128, 0.7), rgba(128,128,128, 0.4));
	margin:4px;
}

.move-section-header {
	font-size:1.5em;
}

.empty-extra-placeholder-text {
	margin: auto;
	padding-top: 50%;
	padding-bottom: 50%;
	height: 100%;
	text-align: center;
	align-items:center;
	top: 50%;
	font-weight: bold;
	font-size: larger;
}

faded {
	opacity: 0.25;
}

.hide {
	display:none;
}

.slidecontainer {
	width: 50%; /* Width of the outside container */
}

.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 25px; /* Specified height */
	background: #d3d3d3; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.slidervalue {
	text-align: center;
}

.help-selection {

	min-height: 4rem;
}
