<section class="card-style clue-data-block" data-clue-id="{{clue.id}}" data-owner-id="{{owner.id}}">
	<a class="item-control clue-delete" title="Delete Clue"><i class="fas fa-trash"></i></a>
	<span id="clue-name-{{clue.id}}" class="card-name clue-name {{#if locked}} clue-select-button {{else}} clue-edit-button {{/if}}">
		{{#if (gt data.amount 1)}}
		({{data.amount}}) {{/if}} {{clue.name}} {{#if data.partial}} (partial) {{/if}}
	</span>
	<div class="clue-source">
		<b>Source:</b> {{data.source}}
	</div>
	<div class="clue-method">
		<b>Method:</b> {{data.method}}
	</div>
</section>
