<div class="card-style gm-move {{#if locked}}gmmove-select {{else}} gmmove-edit{{/if}} flex-row flex-align-center draggable
	  {{#if (noteq sheetowner move.actor)}} inherited-move {{/if}}	" data-move-id="{{move.id}}" data-owner-id="{{sheetowner.id}}" data-draggable-type="gmmove" draggable="true">
	<div class= "trash-can-flex">
		{{#if (and (eq locked false) (eq sheetowner move.actor))}}
		<a class="item-control gmmove-delete" title="Delete GMMove"><i class="fas fa-trash"></i></a>
		{{/if}}
	</div>
	<div class="gmmove-text">
		<!-- {{{applyNameSubstitution move owner.id}}} -->
				{{> "systems/city-of-mist/templates/parts/gmmove-part.hbs" actor=sheetowner move=move showPrivate=true}}
		{{#if (noteq sheetowner move.actor)}}
		<div class="inherit-msg">
			Inherited from {{move.actor.displayedName}}
		</div>
	{{/if}}
	</div>
</div>
