	<h1 class="gm-moves-header"> Moves
		{{#if (eq actor.data.locked false)}}
		<a class="create-gm-move" data-actor-id={{owner.id}}> <i class="fas fa-plus-square"></i></a>
		{{/if}}
	</h1>
	{{#each owner.items as |item|}}
	{{#if (eq item.type "gmmove")}}
	{{#if (eq item.data.data.subtype "intrusion")}}
	{{> "systems/city-of-mist/templates/parts/gmmove-display.html" owner=../actor move=item locked=../locked sheetowner=../actor movetype=move.data.subtype data=item.data.data}}
	{{/if}}
	{{/if}}
	{{/each}}
	{{#each owner.items as |item|}}
	{{#if (eq item.type "gmmove")}}
	{{#if (eq item.data.data.subtype "custom")}}
	{{> "systems/city-of-mist/templates/parts/gmmove-display.html" owner=../actor move=item locked=../locked sheetowner=../actor movetype=move.data.subtype data=item.data.data}}
	{{/if}}
	{{/if}}
	{{/each}}
	<br><hr>
	{{#each owner.items as |item|}}
	{{#if (eq item.type "gmmove")}}
	{{#if (eq item.data.data.subtype "hard")}}
	{{> "systems/city-of-mist/templates/parts/gmmove-display.html" owner=../actor move=item locked=../locked sheetowner=../actor movetype=move.data.subtype data=item.data.data}}
	{{/if}}
	{{/if}}
	{{/each}}
	<br><hr>
	{{#each owner.items as |item|}}
	{{#if (eq item.type "gmmove")}}
	{{#if (eq item.data.data.subtype "soft")}}
	{{> "systems/city-of-mist/templates/parts/gmmove-display.html" owner=../actor move=item locked=../locked sheetowner=../actor movetype=move.data.subtype data=item.data.data}}
	{{/if}}
	{{/if}}
	{{/each}}

