<div class="flip-card-inner {{setFlipped actor cardNum}}">
	<div class="flip-card-front">
		{{> "systems/city-of-mist/templates/parts/clue-list.hbs" actor=actor sheetowner=sheetowner}}
	</div>
	<div class="flip-card-back">
		{{> "systems/city-of-mist/templates/parts/juice-list.hbs" actor=actor sheetowner=sheetowner}}
	</div>
</div>

