<section class="card-style juice-data-block" data-juice-id="{{juice.id}}" data-owner-id="{{owner.id}}">
	<a class="item-control juice-delete" title="Delete Juice"><i class="fas fa-trash"></i></a>
	<span id="juice-name-{{juice.id}}" class="card-name juice-name {{#if locked}} juice-select-button {{else}} juice-edit-button {{/if}}">
		({{data.amount}})
		{{#if (isHelpHurt juice)}}
		{{data.subtype}} {{helpHurtTarget juice}}
		{{else}}
		{{juice.name}}
		{{/if}}
	</span>
	{{#if (not (isHelpHurt juice))}}
	<div class="juice-source">
		<b>{{localize "CityOfMist.terms.juiceSource"}}:</b> {{data.source}}
	</div>
	<div class="juice-method">
		<b>{{localize "CityOfMist.terms.juiceMethod"}}:</b> {{data.method}}
	</div>
	{{/if}}
</section>

