<div class="flip-card-inner {{setFlipped actor cardNum}}">
	<div class="flip-card-front">
		{{> "systems/city-of-mist/templates/parts/loadout-theme-front.hbs" actor=actor theme=actor.loadout}}
	</div>
	<div class="flip-card-back">
		{{> "systems/city-of-mist/templates/parts/loadout-theme-back.hbs" actor=actor theme=actor.loadout}}
	</div>
</div>


