<section data-move-id="{{move.id}}" data-owner-id="{{owner.id}}">
	<div class="description-header"> Description </div>
	<textarea name="data.description" type="text">{{data.description}}</textarea>
	<label class="type-header"> Type </div>
	<select name="data.type">
		{{#select data.type}}
		<option value="standard">Standard </option>
		<option value="noroll"> No Roll </option>
		<option value="logosroll"> Logos Roll </option>
		<option value="mythosroll">  Mythos Roll </option>
		{{/select}}
	</select>
	<label class="type-header"> Category </div>
	<select name="data.category">
		{{#select data.category}}
		<option value="Core">Core </option>
		<option value="Advanced"> Advanced </option>
		<option value="SHB"> Stop.Holding.Back </option>
		{{/select}}
	</select>
	<div class="move-result-header"> Always Displayed</div>
	<textarea type="text" name="data.always">{{data.always}}</textarea>
	<div class="move-result-header"> On Miss </div>
	<textarea type="text" name="data.onMiss">{{data.onMiss}}</textarea>
	<div class="move-result-header"> On Partial </div>
	<textarea type="text" name="data.onPartial">{{data.onPartial}}</textarea>
	<div class="move-result-header"> On Success </div>
	<textarea type="text" name="data.onSuccess">{{data.onSuccess}}</textarea>
	<div class="move-result-header"> On Dynamite </div>
	<textarea type="text" name="data.onDynamite">{{data.onDynamite}}</textarea>
	<div class="move-list-section">
		<div class="move-list-header"> List Elements
			{{#if (eq locked false)}}
			<a class="move-add-list-item"> <i class="fas fa-plus-square"></i></a></p>
			{{/if}}
		</div>
		{{#each data.listConditionals as |li index| }}
		<div class="move-conditonal-block" data-index="{{index}}">
			<select class="move-condition-input">
				{{#select li.condition}}
				<option value="gtPartial"> &gt;= Partial </option>
				<option value="gtSuccess"> &gt;= Success </option>
				<option value="eqDynamite"> Dynamite </option>
				<option value="eqPartial"> Partial </option>
				<option value="eqSuccess">  Success </option>
				<option value="Always">  Always </option>
				<option value="Miss" >  Miss </option>
				{{/select}}
			</select>
			<input class="move-list-input" type="text" value="{{li.text}}"/>
			<select class="move-choiceAmt-input" title="Number of choices from list">
				{{#select li.cost}}
				<option value="1"> 1 </option>
				<option value="2"> 2 </option>
				<option value="3"> 3 </option>
				<option value="0"> 0 </option>
				<option value="-1"> GM </option>
				{{/select}}
			</select>
			<a class="delete-move-list-element" title="Delete List Element"><i class="theme-trash fas fa-trash"></i></a>
		</div>
		{{/each}}
	</div>
	<label> Move Special Identifiers </label>
	<input type="text" value="{{data.effect_class}}" name="data.effect_class" title="Advanced Uses (special coded)">
	<label> Move Abbreviation </label>
	<input type="text" value="{{data.abbreviation}}" name="data.abbreviation" title="Abbreviation Code (All caps)">


</section>
