<!--
	"status": status passed in
	"sheetowner": one who owsn this character sheet (null if no owner)
	"locked": boolean
-->

<div class="flexlarge status-name-block">
	{{#if  status.system.temporary}}
	<a title="Temporary Status" ><i class="fas fa-hourglass"></i> </a>
	{{/if}}
	{{#if  status.system.permanent}}
	<a title="Permanent Status" ><i class="fas fa-square"></i> </a>
	{{/if}}
	<span class="status-name {{#if locked}} status-select-button {{else}} status-edit-button {{/if}} {{#if (eq (activatedDirection sheetowner.id status.parent.id status.id) 1)}} positive-selected {{/if}} {{#if (eq (activatedDirection sheetowner.id status.parent.id status.id) -1)}} negative-selected {{/if}} {{#if (gt status.system.pips 0)}} status-with-pips {{/if}}" title="{{#if (gt status.system.pips 0)}} {{status.system.pips}} pips {{/if}}">
		{{status.name}}-{{status.system.tier}}
	</span>
</div>

