<div class="status-text-list">
	<div class="status-text-list-header"> {{localize 'CityOfMist.terms.statuses' }}

		<a class="create-status" data-item-type="status" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
	</div>
	{{#each actor.items as |status id|}}
	{{#if (eq status.type "status")}}
	<div class="status-line status" data-status-id="{{status.id}}" data-owner-id="{{../owner.id}}" data-tier="{{status.data.data.tier}}" data-status-name="{{status.name}}" data-token-id="{{status._tokenId}}" data-scene-Id="{{status._sceneId}}">
		<div class="flextiny">
			{{#if (eq ../owner ../sheetowner)}}
			<a class="item-control status-delete" title="Delete Status"><i class="fas fa-trash"></i></a>
			{{/if}}
		</div>
		<div class="flexlarge">
			{{#if  status.data.data.temporary}}
			<a title="Temporary Status" ><i class="fas fa-hourglass"></i> </a>
			{{/if}}
			{{#if  status.data.data.permanent}}
			<a title="Permanent Status" ><i class="fas fa-square"></i> </a>
			{{/if}}
			<span class="status-name {{#if ../locked}} status-select-button {{else}} status-edit-button {{/if}} {{#if (eq (activatedDirection ../sheetowner.id ../owner.id status.id) 1)}} positive-selected {{/if}} {{#if (eq (activatedDirection ../sheetowner.id ../owner.id status.id) -1)}} negative-selected {{/if}} {{#if (gt status.data.data.pips 0)}} status-with-pips {{/if}}" title="{{#if (gt status.data.data.pips 0)}} {{status.data.data.pips}} pips {{/if}}">
				{{status.name}}-{{status.data.data.tier}}
			</span>
			<a class="item-control status-add" title="Add to Status"><i class="fas fa-plus"></i></a>
			<a class="item-control status-subtract" title="Subtract from Status"><i class="fas fa-minus"></i></a>
		</div>
	</div>
	{{/if}}
	{{/each}}
	{{#each otherStatuses as |character| }}
	<div class="status-owner-block">
		<span class="status-owner"> {{character.name}} </span>
		<div class="{{#if (eq character.type "character")}}ally-status{{/if}}
		{{#if (eq character.type "threat")}}enemy-status{{/if}}
		{{#if (eq character.type "extra")}}ally-status{{/if}} ">
			<div class="other-status-list">
				{{#each character.statuses as |status id|}}
				<div class="status status-name status-line" data-status-id="{{status.id}}" data-owner-id="{{character.id}}" data-tier="{{status.data.data.tier}}" data-status-name="{{status.name}}" data-token-id="{{status._tokenId}}" data-scene-Id="{{status._sceneId}}">
					<div class="status-select-button {{#if (eq (activatedDirection ../../sheetowner.id ../character.id status.id) 1)}} positive-selected {{/if}} {{#if (eq (activatedDirection ../../sheetowner.id ../character.id status.id) -1)}} negative-selected {{/if}} {{#if (gt status.data.data.pips 0)}} status-with-pips {{/if}}" title="{{#if (gt status.data.data.pips 0)}} {{status.data.data.pips}} pips {{/if}}">
						{{status.name}}-{{status.data.data.tier}}
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>

