
<div class="status-text-list">
	<div class="status-text-list-header"> {{localize 'CityOfMist.terms.statuses' }}

		<a class="create-status" data-item-type="status" data-duplicates="false" data-actor-id={{actor.id}}> <i class="fas fa-plus-square"></i></a>
	</div>
	{{#each actor.items as |status id|}}
	{{#if (eq status.type "status")}}
	{{> "systems/city-of-mist/templates/parts/status-with-controls.hbs" status=status sheetowner=../sheetowner owner=status.parent locked=../locked}}
	{{/if}}
	{{/each}}
	{{#each otherStatuses as |character| }}
	<div class="status-owner-block">
		<span class="status-owner"> {{character.name}}  </span>
		<div class="{{#if (eq character.type "character")}}ally-status{{/if}}
		{{#if (eq character.type "threat")}}enemy-status{{/if}}
		{{#if (eq character.type "extra")}}ally-status{{/if}} ">
			<div class="other-status-list">

				{{#each character.statuses as |status id|}}
				{{> "systems/city-of-mist/templates/parts/status-with-controls.hbs" status=status sheetowner=../../sheetowner owner=status.parent locked=true}}
				<!-- <div class="status status-name status-line" data-status-id="{{status.id}}" data-owner-id="{{character.id}}" data-tier="{{status.system.tier}}" data-status-name="{{status.name}}" data-token-id="{{character.tokenId}}" data-scene-Id="{{status._sceneId}}"> -->
				<!-- 	<div class="status-select-button {{#if (eq (activatedDirection ../../sheetowner.id ../character.id status.id character.tokenId ) 1)}} positive-selected {{/if}} {{#if (eq (activatedDirection ../../sheetowner.id ../character.id status.id character.tokenId) -1)}} negative-selected {{/if}} {{#if (gt status.system.pips 0)}} status-with-pips {{/if}}" title="{{#if (gt status.system.pips 0)}} {{status.system.pips}} pips {{/if}}"> -->
				<!-- 		{{status.name}}-{{status.system.tier}} -->
				<!-- 	</div> -->
				<!-- </div> -->
				{{/each}}
			</div>
		</div>
	</div>
	{{/each}}
</div>

