<!-- arguments -->
<!-- tag: tag inquestion -->
<!-- locked: if tag is locked -->
<!-- canBurn: allow burning of this tag -->

<div class="flex-row tag" data-tag-id="{{tag.id}}" data-owner-id="{{tag.parent.id}}" data-token-id="{{tag.parent.tokenId}}" data-scene-id="{{tag.parent.sceneId}}">
	<div class="flex-narrow flex-line flex-trash">
		{{#if (eq locked false)}}
		{{#if tag.parent.isOwner}}
		<a class="item-control tag-delete" title="Delete Tag" data-tag-id="{{tag.id}}"><i class="fas fa-trash shrink-icon"></i></a>
		{{/if}}
		{{/if}}
	</div>
	<div class="flex-wide flex-line">
		{{> "systems/city-of-mist/templates/parts/tag-name.html" locked=locked owner=owner activated=(hasActivatedItem tag) tagdirection=(getDirection tag) tag=tag data=tag.system}}
	</div>
	<div class="flex-narrow flex-line flex-burn-flame-cell">
		{{#if tag.parent.isOwner}}
		{{#if (eq tag.system.burned 0)}}
		{{#if canBurn}}
		{{#if tag.isBurnable}}
		<a class="tag-burn" title="Burn Tag" > <i class="fas fa-fire"></i> </a>
		{{/if}}
		{{/if}}
		{{else}}
		{{#if (eq tag.system.burned 1)}}
		<a class="tag-unburn" title="Unburn Tag" ><i class="fas fa-undo"></i> </a>
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</div>
