<ul class="tag-list">
	{{#each itemlist as |tag |}}
	{{#if (eq tag.type "tag")}}
	{{#if (eq tag.system.theme_id ../themeId)}}
	{{#if (eq tag.system.subtype ../subtype)}}
	{{#if (eqStr tag.system.parentId ../supertag)}}
	<li>
		{{> "systems/city-of-mist/templates/parts/tag-display.html" tag=tag locked=../locked canBurn=true }}
	{{#if tag.subtags}}
	{{#each tag.subtags as |st|}}
	<ul class="sub-tag-list">
		<li>
		{{> "systems/city-of-mist/templates/parts/tag-display.html" tag=st locked=../../locked canBurn=true }}
		</li>
	</ul>
	{{/each}}
	</li>
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/each}}
</ul>
