<div class="flex-row" data-tag-id="{{tag._id}}" data-owner-id="{{owner._id}}" data-token-id="{{tag._tokenId}}" data-scene-id="{{tag._sceneId}}">
	<div class="flex-narrow flex-line flex-trash">
		{{#if (or (eq locked false) (and (eq owner._id sheetowner._id) (eq tag.data.subtype "story")))}}
		<a class="item-control tag-delete" title="Delete Tag" data-tag-id="{{tag._id}}" data-theme-id="{{item._id}}"><i class="fas fa-trash shrink-icon"></i></a>
		{{/if}}
	</div>
	<div class="flex-wide flex-line">
		{{> "systems/city-of-mist/templates/parts/tag-name.html" locked=locked owner=owner activated=(hasActivatedTag sheetowner._id owner._id tag._id) direction=(activatedDirection sheetowner._id owner._id tag._id) tag=tag}}
	</div>
	<div class="flex-narrow  flex-line flex-burn-flame-cell">
		{{#if (eq owner._id sheetowner._id)}}
		{{#if (eq tag.data.burned 0)}}
		{{#if canBurn}}
		<a class="tag-burn" title="Burn Tag" > <i class="fas fa-fire"></i> </a>
		{{/if}}
		{{else}}
		{{#if (eq tag.data.burned 1)}}
		<a class="tag-unburn" title="Unburn Tag" ><i class="fas fa-undo"></i> </a>
		{{/if}}
		{{/if}}
		{{/if}}
	</div>
</div>
