<!-- Template ::
	tag
	tagdirection
	activated
	locked -->
	<span class="tag-name-block" tag data-tag-id="{{tag.id}}" data-owner-id="{{tag.parent.id}}" data-token-id="{{tag.parent.tokenId}}" data-scene-id="{{tag.parent.sceneId}}" >
		<span class="tag-symbols">
			{{#if (eq data.subtype "story")}}
			<a title="Story Tag" ><i class="fas fa-tag"></i> </a>
			{{/if}}
			{{#if (eq data.subtype "power")}}
			<a title="Power Tag" ><i class="fas fa-bolt"></i> </a>
			{{/if}}
			{{#if (eq data.subtype "weakness")}}
			<a title="Weakness Tag" ><i class="fas fa-angle-double-down"></i> </a>
			{{/if}}
			{{#if data.crispy }}
			<a title="Crispy Tag" ><i class="fas fa-leaf"></i> </a>
			{{/if}}
			{{#if data.custom_tag }}
			<a title="Bonus Tag" ><i class="fas fa-star"></i> </a>
			{{/if}}
			{{#if data.broad }}
			<a title="Broad Tag" ><i class="fas fa-globe"></i> </a>
			{{/if}}
			{{#if data.temporary }}
			<a title='{{localize "CityOfMist.terms.temporary"}}' ><i class="fas fa-hourglass"></i> </a>
			{{/if}}
			{{#if data.permanent }}
			<a title='{{localize "CityOfMist.terms.permanent"}}'><i class="fas fa-gem"></i> </a>
			{{/if}}
		</span>
		<!-- dir: {{direction}} -->
		<span class="flex-tag-name
		{{data.subtype}}-tag
		name
		{{#if tag.isMissingParent}} tag-error {{/if}}
		{{#if (and locked (eq data.burned 0))}} active-tag {{/if}}
		{{#if (gt tagdirection 0)}} positive-selected{{/if}}
		{{#if (lt tagdirection 0)}} negative-selected{{/if}}
		{{#if (not locked)}} tag-edit-button unlocked-tag{{/if}}
		{{#if (and (not data.burned) locked)}} tag-select-button  {{/if}}
		{{#if (gt (defaultTagDirection tag.name tag.parent.id tag.id tag.parent.tokenId) 0)}}
		default-positive {{else}} default-negative
		{{/if}}
		{{#if (gt data.burned 0)}} burned-tag burn-level-{{data.burned}}  {{/if}}
		" title= "
		{{#if tag.isMissingParent}} {{localize "CityOfMist.tooltip.error.missingParent"}} &#013
		{{/if}}
		{{#if (not data.custom_tag)}} {{data.question_letter}}. {{/if}}{{data.question}} {{#if data.description}}  &#013;{{data.description}} {{/if}}" > {{tag.name}}
		{{#if tag.location}}
		<span class="story-tag-location">
			( {{tag.parent.displayedName}} )
		</span>
			{{/if}}
		</span>
	</span>
