<div class="{{tbdata.type}}-theme" id="theme-id-{{id}}" data-theme-id="{{theme.id}}" data-owner-id="{{owner.id}}" data-theme-type=themetype>
	<div class ="theme-title">
		{{#if (ne themetype "character")}}
		<div class="non-char-theme-header" title="{{themetype}} theme">
			{{#if (eq themetype "crew")}}
			<a class="item-control crew-prev">
				<i class="fas fa-arrow-left"></i>
			</a>
			{{/if}}
			<span class="non-char-theme-name" > {{owner.name}}</span>
			{{#if (eq themetype "crew")}}
			<a class="item-control crew-next">
				<i class="fas fa-arrow-right"></i>
			</a>
			{{/if}}
		</div>
		{{/if}}
		{{#if locked}}
		<div class="theme-name">{{theme.name}}</div>
		{{#if theme.data.data.nascent}} <div class="nascent-label"> Nascent </div> {{/if}}
		{{else}}
		<textarea class="theme-name-input" type="text" data-theme-id="{{theme.id}}">{{theme.name}}</textarea>
		{{/if}}
	</div>
	{{#if (eq locked false)}}
	<a class="item-control theme-delete" data-theme-id="{{theme.id}}" title="Delete Theme"><i class="theme-trash fas fa-trash"></i></a>
	{{/if}}
	{{#if (eq tbdata.type "Logos")}}
	<div class="themebook-name-logos"> {{themebook.name}}</div>
	<div class="themebook-identity-label"> <b class="themebook-identity"> Identity: </b> </div>
	<textarea class="themebook-identity identity-input" type="text" value="{{data.mystery}}" data-property="mystery" {{#if (eq locked true)}} disabled{{/if}}>{{data.mystery}}</textarea>
	{{else}}
	{{#if (eq tbdata.type "Mythos")}}
	<div class="themebook-name-mythos"> {{themebook.name}}</div>
	<div class="themebook-mystery-label"> <b class="themebook-mystery"> Mystery : </b> </div>
	<textarea class="themebook-mystery identity-input" type="text" value="{{data.mystery}}" data-property="mystery" {{#if (eq locked true)}} disabled{{/if}}>{{data.mystery}}</textarea>
	{{else}}
	<!-- Crew and Extra -->
	<div class="themebook-name-crew"> {{themebook.name}}</div>
	<div class="themebook-crew-label"> <b class="themebook-mystery"> Mystery/ Identity : </b> </div>
	<textarea class="themebook-mystery identity-input" type="text" value="{{data.mystery}}" data-property="mystery" {{#if (eq locked true)}} disabled{{/if}}>{{data.mystery}}</textarea>
	{{/if}}
	{{/if}}

	<div class="att-fade-section">
		<div class="attention-block flex-line">
			<span class="attention-text flex-std"> Attention: </span>
			<div class="dots-section flex-std">
				{{#each data.attention as |attention rank|}}
				{{#if (eq attention 1)}}
				<span class="filled-circle tracker-circle"></span>
				{{else}}
				<span class="empty-circle tracker-circle"></span>
				{{/if}}
				{{/each}}
				{{#if (ne data.unspent_upgrades 0)}}
				<span class="unspent-upgrades"> (+{{data.unspent_upgrades}}) </span>
				{{/if}}
				<a class="theme-add-attention"  data-type="attention" > <i class="fas fa-plus-square"></i></a>
				{{#if (ne locked true)}}
				<a class="theme-remove-attention"  data-type="attention" > <i class="fas fa-minus-square"></i></a></p>
				{{/if}}
			</div>
		</div>
		<div class="fade-block flex-line">
			<span class="fade-text flex-std">
				{{#if (eq tbdata.type "Logos")}}
				Crack:
				{{else}}
				Fade:
				{{/if}}
			</span>
			<div class="dots-section flex-std">
				{{#each data.crack as |crack rank|}}
				{{#if (eq crack 1)}}
				<span class="filled-circle tracker-circle"></span>
				{{else}}
				<span class="empty-circle tracker-circle"></span>
				{{/if}}
				{{/each}}
				<a class="theme-add-fade"  data-type="crack" > <i class="fas fa-plus-square"></i></a>
				{{#if (gt data.unspent_upgrades 0)}}
				<a class="theme-reset-fade"  data-type="crack" title="Reset Fade"> <i class="fas fa-undo"></i></a>
				{{/if}}
				{{#if (ne locked true)}}
				<a class="theme-remove-fade"  data-type="crack" > <i class="fas fa-minus-square"></i></a></p>
				{{/if}}
			</div>
		</div>
	</div>
	<div class="tag-add-icons">
		<div id="tags-header" class="tags-header"> Tags
			{{#if (gt data.unspent_upgrades 0)}}
			<a class="theme-create-power-tag" data-distinct="true" data-item-type="tag" data-duplicates="false" title="Add Power Tag" data-sub-type="power" > <i class="fas fa-bolt"></i></a>
			{{/if}}
			{{#if (eq locked false)}}
			<a class="theme-create-bonus-tag" data-distinct="true" data-item-type="tag" data-duplicates="false" title="Add Bonus Power Tag" data-sub-type="power" > <i class="fas fa-star"></i></a>
			<a class="theme-create-weakness-tag" data-distinct="true" data-item-type="tag" data-duplicates="false" data-sub-type="weakness" title="Add Weakness Tag" > <i class="fas fa-anchor" ></i></a>
			{{/if}}
		</div>
	</div>
	<ul class="tag-list">
		{{#each owner.items as |tag |}}
		{{#if (eq tag.type "tag")}}
		{{#if (eq tag.data.data.theme_id ../theme.id)}}
		{{#if (eq tag.data.data.subtype "power")}}
		<li>
			{{> "systems/city-of-mist/templates/parts/tag-display.html" tag=tag owner=../owner locked=../locked sheetowner=../sheetowner canBurn=true data=tag.data.data}}
		</li>
		{{/if}}
		{{/if}}
		{{/if}}
		{{/each}}
		{{#each owner.items as |tag| }}
		{{#if (eq tag.type "tag")}}
		{{#if (eq tag.data.data.theme_id ../theme.id)}}
		{{#if (eq tag.data.data.subtype "weakness")}}
		<li>
			{{> "systems/city-of-mist/templates/parts/tag-display.html" tag=tag owner=../owner locked=../locked sheetowner=../sheetowner canBurn=false data=tag.data.data }}
		</li>
		{{/if}}
		{{/if}}
		{{/if}}
		{{/each}}
		<h3 id="improvements-header" class="improvements-header"> Improvements
			{{#if (gt data.unspent_upgrades 0)}}
			<a class="theme-create-improvement" data-distinct="true" data-item-type="improvement" data-duplicates="false" data-actor-id="{{owner.id}}" data-theme-id="{{theme.id}}" > <i class="fas fa-plus-square"></i></a></p>
			{{/if}}
		</h3>
		<ul class="improvement-list">
			{{#each owner.items as |imp |}}
			{{#if (eq imp.type "improvement")}}
			{{#if (eq imp.data.data.theme_id ../theme.id)}}
			<li>
				{{> "systems/city-of-mist/templates/parts/improvement-display.html" improvement=imp owner=../owner locked=../locked sheetowner=../sheetowner data=imp.data.data}}
			</li>
			{{/if}}
			{{/if}}
			{{/each}}
		</ul>
</div>
