<div class="flip-card-inner">
	{{#if (themeDisplayis "city-of-mist")}}
	<div class="flip-card-front">
		{{> "systems/city-of-mist/templates/parts/theme-display-com-front.hbs" owner=owner theme=theme sheetowner=sheetowner themetype="character" }}
	</div>
	<div class="flip-card-back">
		{{> "systems/city-of-mist/templates/parts/theme-display-com-back.hbs" owner=owner theme=theme sheetowner=sheetowner themetype="character" }}
	</div>
	{{/if}}
	{{#if (themeDisplayis "mist-engine")}}
	<div class="flip-card-front">
		{{> "systems/city-of-mist/templates/parts/theme-display-me-front.hbs" owner=owner theme=theme sheetowner=sheetowner themetype="character" }}
	</div>
	<div class="flip-card-back">
		<a class="flip-button"> Flip</a>
		{{> "systems/city-of-mist/templates/parts/theme-display-me-back.hbs" owner=owner theme=theme sheetowner=sheetowner themetype="character" }}
	</div>
	{{/if}}
</div>
