<form>
	<div>
		<div class="slidecontainer">
			<input class="slider HelpHurt" type="range" min="1" max="{{HHMax}}" value="1" class="slider" id="HH-slider" oninput="this.nextElementSibling.value = this.value">
			<output class="HelpHurt">1 </output>
		</div>
	</div>
</form>
